<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
	</appender>
	<appender name="R"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender -->
		<File>${app.root}/logs/smsc.log4j.debug.log</File>
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%nn</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>5</maxIndex>
			<FileNamePattern>${app.root}/logs/smsc.log4j.debug.log.%i
			</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	<logger name="com.cobble" level="DEBUG" />
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="R" />
	</root>
</configuration>