<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="true" />
		<!-- <setting name="lazyLoadingEnabled" value="true" /> -->
		<setting name="aggressiveLazyLoading" value="false" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="useColumnLabel" value="true" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="autoMappingBehavior" value="FULL" />
		<setting name="defaultExecutorType" value="BATCH" />
		<setting name="defaultStatementTimeout" value="25000" />
	</settings>
	<!-- to see applicationContext.xml (typeAliasesPackage) -->
	<!-- <typeAliases>
		<typeAlias alias="UserPOJO"
			type="com.cobble.pojo.UserPOJO" />
	</typeAliases> -->
	<mappers>
		<mapper resource="mybatis-config/SequenceMapper.xml" />
		
		<mapper resource="mybatis-config/FoodMapper.xml" />
		<mapper resource="mybatis-config/FoodMenuMapper.xml" />
		<mapper resource="mybatis-config/FoodSellerMapper.xml" />
		<mapper resource="mybatis-config/FoodSellerTypeMapper.xml" />
		<mapper resource="mybatis-config/FoodTypeMapper.xml" />
		<mapper resource="mybatis-config/LocationAreaMapper.xml" />
		<mapper resource="mybatis-config/LocationBusinessMapper.xml" />
		<mapper resource="mybatis-config/OrderFormFoodMapper.xml" />
		<mapper resource="mybatis-config/OrderFormMapper.xml" />
		
		<mapper resource="mybatis-config/UserMapper.xml" />
		<mapper resource="mybatis-config/RoleMapper.xml" />
		<mapper resource="mybatis-config/PrivilegeMapper.xml" />
		<mapper resource="mybatis-config/RelPrivilegeRoleMapper.xml" />
		<mapper resource="mybatis-config/RelUserRoleMapper.xml" />
		<mapper resource="mybatis-config/RecommendMapper.xml" />
		<mapper resource="mybatis-config/UserPersonMapper.xml" />
		
		
		<mapper resource="mybatis-config/ActivityMapper.xml" />
		<mapper resource="mybatis-config/ApplyMapper.xml" />
		<mapper resource="mybatis-config/InteractiveMapper.xml" />
		<mapper resource="mybatis-config/InteractiveApplyMapper.xml" />
		<mapper resource="mybatis-config/AwardMapper.xml" />
		<mapper resource="mybatis-config/AwardRecordMapper.xml" />
		
		<mapper resource="mybatis-config/WxLinkMapper.xml" />
		<mapper resource="mybatis-config/WxTemplateMapper.xml" />
		
		<mapper resource="mybatis-config/WxAttrMapper.xml" />
		
		<mapper resource="mybatis-config/Apply2AttrMapper.xml" />
		<mapper resource="mybatis-config/Apply2AttrModelMapper.xml" />
		<mapper resource="mybatis-config/Apply2Mapper.xml" />
		
		<mapper resource="mybatis-config/WxComVerifyTicketMapper.xml" />
		<mapper resource="mybatis-config/WxComAccessTokenMapper.xml" />
		
		<mapper resource="mybatis-config/WxAuthorizerAccessTokenMapper.xml" />
		<mapper resource="mybatis-config/WxAuthorizerInfoMapper.xml" />
		<mapper resource="mybatis-config/WxAuthorizerRefreshTokenMapper.xml" />
		
		<mapper resource="mybatis-config/WxPersonUserMapper.xml" />
		<mapper resource="mybatis-config/WxPersonUserViceMapper.xml" />
		<!-- <mapper resource="mybatis-config/RelWxPuOpenMapper.xml" /> -->
		<mapper resource="mybatis-config/WxMenuMgrButtonMapper.xml" />
		<mapper resource="mybatis-config/WxMenuMgrCategoryMapper.xml" />
		<mapper resource="mybatis-config/WxMenuMgrFullMapper.xml" />
		<mapper resource="mybatis-config/WxMenuMgrMatchRuleMapper.xml" />
		
		<mapper resource="mybatis-config/VoteMapper.xml" />
		<mapper resource="mybatis-config/VoteItemMapper.xml" />
		<mapper resource="mybatis-config/RelVoteUserMapper.xml" />
		
		<mapper resource="mybatis-config/RelWxIndexMapMapper.xml" />
		
		<mapper resource="mybatis-config/WxRespMsgMapper.xml" />
		<mapper resource="mybatis-config/RelWxRespMsgUserMapper.xml" />
		
		<mapper resource="mybatis-config/PointRecordMapper.xml" />
		<mapper resource="mybatis-config/PointSummaryMapper.xml" />
		<mapper resource="mybatis-config/PointEventMapper.xml" />
		
		<mapper resource="mybatis-config/ActivityGatherMapper.xml" />
		<mapper resource="mybatis-config/ActivityRegistrationMapper.xml" />
		
		<mapper resource="mybatis-config/WpOrderMapper.xml" />
		<mapper resource="mybatis-config/WpOrderRespMapper.xml" />
		<mapper resource="mybatis-config/WpResultNotifyMapper.xml" />
		<mapper resource="mybatis-config/WpOrderCloseMapper.xml" />
		
		<mapper resource="mybatis-config/EcProductMapper.xml" />
		<mapper resource="mybatis-config/EcOrderMapper.xml" />

		<mapper resource="mybatis-config/WxMsgEventLogMapper.xml" />
		
	</mappers>
</configuration>