<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cobble.takeaway.dao.ActivityMapper" >
	<!-- <cache type="org.mybatis.caches.memcached.LoggingMemcachedCache" /> -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache">
		<property name="timeToIdleSeconds" value="3600" /><!--1 hour -->
		<property name="timeToLiveSeconds" value="3600" /><!--1 hour -->
		<property name="maxEntriesLocalHeap" value="1000" />
		<property name="maxEntriesLocalDisk" value="10000000" />
		<property name="memoryStoreEvictionPolicy" value="LRU" />
	</cache>
	
  <resultMap id="ActivityResultMap" type="com.cobble.takeaway.pojo.ActivityPOJO" >
    <id column="ACTIVITY_ID" property="activityId" />
    <result column="TITLE" property="title" jdbcType="VARCHAR"/>
    <result column="START_DATE_TIME" property="startDateTime" />
    <result column="END_DATE_TIME" property="endDateTime" />
    <result column="CONTENT" property="content" />
    <result column="EXPIRED" property="expired" />
    <association property="userPOJO" resultMap="com.cobble.takeaway.dao.UserMapper.UserResultMap"></association>
  </resultMap>
  <sql id="Base_Column_List" >
    a.ACTIVITY_ID, a.TITLE, a.START_DATE_TIME, a.END_DATE_TIME, a.CONTENT, (a.END_DATE_TIME - now() &lt;= 0) as EXPIRED
  </sql>
  <sql id="Clause_Common">
	<if test="title != null">
		and TITLE like concat("%", concat(#{title}, "%"))
	</if>
  </sql>
  <select id="finds" resultMap="ActivityResultMap" parameterType="com.cobble.takeaway.pojo.ActivitySearchPOJO" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from e_activity a, rel_activity_user rau
    <where>
  		<trim prefixOverrides="and">
			<include refid="Clause_Common"/>
			and a.activity_id = rau.activity_id
			<if test="userId != null">
				and rau.user_id = #{userId}
			</if>
  		</trim>
  	</where>
  	order by (a.END_DATE_TIME - now()) desc
	<if test="start > -1 and limit > 0">
		limit #{start}, #{limit}
	</if>
  </select>
  <select id="getCount" parameterType="com.cobble.takeaway.pojo.ActivitySearchPOJO" resultType="java.lang.Integer" >
    select count(1) from e_activity
    <where>
  		<trim prefixOverrides="and">
			<include refid="Clause_Common"/>
  		</trim>
  	</where>
  </select>
  <select id="findById" resultMap="ActivityResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
			, u.user_id, u.username, u.nickname
    from e_activity a, rel_activity_user rau, b_user u
    <where>
  		<trim prefixOverrides="and">
			and a.activity_id = rau.activity_id
			and rau.user_id = u.user_id
			and a.ACTIVITY_ID = #{activityId}
  		</trim>
  	</where>
  </select>
  <delete id="deleteById" parameterType="java.lang.Long" >
    delete from e_activity
    where ACTIVITY_ID = #{activityId}
  </delete>
  <insert id="insert" parameterType="com.cobble.takeaway.pojo.ActivityPOJO" useGeneratedKeys="true"
  	keyProperty="activityId" keyColumn="ACTIVITY_ID">
    insert into e_activity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        TITLE,
      </if>
      <if test="startDateTime != null" >
        START_DATE_TIME,
      </if>
      <if test="endDateTime != null" >
        END_DATE_TIME,
      </if>
      <if test="content != null" >
        CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        #{title},
      </if>
      <if test="startDateTime != null" >
        #{startDateTime},
      </if>
      <if test="endDateTime != null" >
        #{endDateTime},
      </if>
      <if test="content != null" >
        #{content},
      </if>
    </trim>
  </insert>
  
  <insert id="insertRelActivityUser" parameterType="com.cobble.takeaway.pojo.RelActivityUserPOJO" useGeneratedKeys="true"
  	keyProperty="activityUserId" keyColumn="ACTIVITY_USER_ID">
    insert into rel_activity_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="activityId != null" >
        ACTIVITY_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="activityId != null" >
        #{activityId},
      </if>
      <if test="userId != null" >
        #{userId},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="com.cobble.takeaway.pojo.ActivityPOJO" >
    update e_activity
    <set >
      <if test="title != null" >
        TITLE = #{title},
      </if>
      <if test="content != null" >
        CONTENT = #{content},
      </if>
      <if test="startDateTime != null" >
        START_DATE_TIME = #{startDateTime},
      </if>
      <if test="endDateTime != null" >
        END_DATE_TIME = #{endDateTime},
      </if>
    </set>
    where ACTIVITY_ID = #{activityId}
  </update>
</mapper>