<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cobble.takeaway.dao.Apply2AttrMapper" >
	<!-- <cache type="org.mybatis.caches.memcached.LoggingMemcachedCache" /> -->
	<!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache">
		<property name="timeToIdleSeconds" value="3600" />
		<property name="timeToLiveSeconds" value="3600" />
		<property name="maxEntriesLocalHeap" value="1000" />
		<property name="maxEntriesLocalDisk" value="10000000" />
		<property name="memoryStoreEvictionPolicy" value="LRU" />
	</cache> -->
	
  <resultMap id="Apply2AttrResultMap" type="com.cobble.takeaway.pojo.Apply2AttrPOJO" >
    <id column="Apply2_ATTR_ID" property="apply2AttrId" />
    <result column="Apply2_ATTR_MODEL_NAME" property="apply2AttrModelName"/>
    <result column="Apply2_ATTR_DATA" property="apply2AttrData"/>
    <result column="ORDER_NO" property="orderNo" />
    <result column="ACTIVITY_ID" property="activityId" />
    <result column="Apply2_ID" property="apply2Id" />
    <result column="CREATE_DATE_TIME" property="createDateTime" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    a.Apply2_ATTR_ID, a.Apply2_ATTR_MODEL_ID, a.Apply2_ATTR_MODEL_NAME, a.Apply2_ATTR_DATA, a.ORDER_NO, a.ACTIVITY_ID, a.Apply2_ID, a.CREATE_DATE_TIME
  </sql>
  <sql id="Clause_Common">
	<if test="apply2AttrModelName != null">
		and a.Apply2_ATTR_MODEL_NAME like concat("%", concat(#{apply2AttrModelName}, "%"))
	</if>
	<if test="apply2AttrModelIds != null">
		and a.Apply2_ATTR_MODEL_ID in 
		<foreach collection="apply2AttrModelIds" item="apply2AttrModelIds" open="(" close=")" separator=",">
			#{apply2AttrModelIds}
		</foreach>
	</if>
	<if test="activityId != null">
		and a.ACTIVITY_ID = ${activityId}
	</if>
	<if test="orderNo != null">
		and a.ORDER_NO = ${orderNo}
	</if>
	<if test="apply2AttrData != null">
		and a.Apply2_ATTR_DATA = ${apply2AttrData}
	</if>
  </sql>
  
  <select id="finds" resultMap="Apply2AttrResultMap" parameterType="com.cobble.takeaway.pojo.Apply2AttrSearchPOJO" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from p_apply2_attr a
    <where>
  		<trim prefixOverrides="and">
			<include refid="Clause_Common"/>
  		</trim>
  	</where>
  	order by a.ORDER_NO
	<if test="start > -1 and limit > 0">
		limit #{start}, #{limit}
	</if>
  </select>
  
  <select id="getCount" resultType="java.lang.Integer" parameterType="com.cobble.takeaway.pojo.Apply2AttrSearchPOJO" >
    select count(1) from p_apply2_attr a
    <where>
  		<trim prefixOverrides="and">
			<include refid="Clause_Common"/>
  		</trim>
  	</where>
  </select>
  
  <select id="findById" resultMap="Apply2AttrResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from p_apply2_attr a
    <where>
  		<trim prefixOverrides="and">
			and a.Apply2_ATTR_ID = #{apply2AttrId}
  		</trim>
  	</where>
  </select>
  
  <select id="finds2ByApply2Id" resultMap="Apply2AttrResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from p_apply2_attr a
    <where>
  		<trim prefixOverrides="and">
			and a.Apply2_ID = #{apply2Id}
  		</trim>
  	</where>
  </select>
  
  <delete id="deleteById" parameterType="java.lang.Long" >
    delete from p_apply2_attr
    where Apply2_ATTR_ID = #{apply2AttrId}
  </delete>
  <insert id="insert" parameterType="com.cobble.takeaway.pojo.Apply2AttrPOJO" useGeneratedKeys="true"
  	keyProperty="apply2AttrId" keyColumn="Apply2_ATTR_ID">
    insert into p_apply2_attr
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="apply2AttrModelId != null" >
        Apply2_ATTR_MODEL_ID,
      </if>
      <if test="apply2AttrModelName != null" >
        Apply2_ATTR_MODEL_NAME,
      </if>
      <if test="apply2AttrData != null" >
        Apply2_ATTR_DATA,
      </if>
      <if test="orderNo != null" >
        ORDER_NO,
      </if>
      <if test="activityId != null" >
        ACTIVITY_ID,
      </if>
      <if test="apply2Id != null" >
        Apply2_ID,
      </if>
        CREATE_DATE_TIME,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="apply2AttrModelId != null" >
        #{apply2AttrModelId},
      </if>
      <if test="apply2AttrModelName != null" >
        #{apply2AttrModelName},
      </if>
      <if test="apply2AttrData != null" >
        #{apply2AttrData},
      </if>
      <if test="orderNo != null" >
        #{orderNo},
      </if>
      <if test="activityId != null" >
        #{activityId},
      </if>
      <if test="apply2Id != null" >
        #{apply2Id},
      </if>
        SYSDATE(),
    </trim>
  </insert>
  
  <update id="update" parameterType="com.cobble.takeaway.pojo.Apply2AttrPOJO" >
    update p_apply2_attr
    <set >
      <if test="apply2AttrModelId != null" >
        Apply2_ATTR_MODEL_ID = #{apply2AttrModelId},
      </if>
      <if test="apply2AttrModelName != null" >
        Apply2_ATTR_MODEL_NAME = #{apply2AttrModelName},
      </if>
      <if test="apply2AttrData != null" >
        Apply2_ATTR_DATA = #{apply2AttrData},
      </if>
      <if test="orderNo != null" >
        ORDER_NO = #{orderNo},
      </if>
      <if test="activityId != null" >
        ACTIVITY_ID = #{activityId},
      </if>
      <if test="apply2Id != null" >
        Apply2_ID = #{apply2Id},
      </if>
        CREATE_DATE_TIME = SYSDATE(),
    </set>
    where Apply2_ATTR_ID = #{apply2AttrId}
  </update>
  
</mapper>