<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cobble.takeaway.dao.Apply2Mapper" >
	<!-- <cache type="org.mybatis.caches.memcached.LoggingMemcachedCache" /> -->
	<!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache">
		<property name="timeToIdleSeconds" value="3600" />
		<property name="timeToLiveSeconds" value="3600" />
		<property name="maxEntriesLocalHeap" value="1000" />
		<property name="maxEntriesLocalDisk" value="10000000" />
		<property name="memoryStoreEvictionPolicy" value="LRU" />
	</cache> -->
	
  <resultMap id="Apply2ResultMap" type="com.cobble.takeaway.pojo.Apply2POJO" >
    <id column="APPLY2_ID" property="apply2Id" />
    <result column="USER_ID" property="userId" />
    <result column="PROXY_OPEN_ID" property="proxyOpenId" />
    <result column="OPEN_ID" property="openId" />
    <result column="UNION_ID" property="unionId" />
    <result column="ACTIVITY_ID" property="activityId" />
    <result column="DESCRIPTION" property="description" />
    <result column="CREATE_DATE_TIME" property="createDateTime" />
  </resultMap>
  
  <resultMap id="Apply2Result2Map" type="com.cobble.takeaway.pojo.Apply2POJO" >
    <id column="APPLY2_ID" property="apply2Id" />
    <result column="USER_ID" property="userId" />
    <result column="PROXY_OPEN_ID" property="proxyOpenId" />
    <result column="OPEN_ID" property="openId" />
    <result column="UNION_ID" property="unionId" />
    <result column="ACTIVITY_ID" property="activityId" />
    <result column="DESCRIPTION" property="description" />
    <result column="CREATE_DATE_TIME" property="createDateTime" />
    <!-- <collection property="apply2AttrPOJOs" column="APPLY2_ID" ofType="com.cobble.takeaway.pojo.Apply2AttrPOJO"
    		select="com.cobble.takeaway.dao.Apply2AttrMapper.finds2ByApply2Id"></collection> -->
  </resultMap>
  
  <sql id="Base_Column_List" >
    apply2.APPLY2_ID, apply2.USER_ID,apply2.PROXY_OPEN_ID
    , apply2.OPEN_ID, apply2.UNION_ID, apply2.ACTIVITY_ID
    , apply2.DESCRIPTION, apply2.CREATE_DATE_TIME
  </sql>
  <sql id="Clause_Common">
	<if test="description != null">
		and apply2.DESCRIPTION like concat("%", concat(#{description}, "%"))
	</if>
	<if test="userId != null">
		and apply2.USER_ID = #{userId}
	</if>
	<if test="proxyOpenId != null">
		and apply2.PROXY_OPEN_ID = #{proxyOpenId}
	</if>
	<if test="openId != null">
		and apply2.OPEN_ID = #{openId}
	</if>
	<if test="unionId != null">
		and apply2.UNION_ID = #{unionId}
	</if>
	<if test="activityId != null">
		and apply2.ACTIVITY_ID = #{activityId}
	</if>
    <if test="startDateTime != null">
    	and apply2.CREATE_DATE_TIME &gt;= #{startDateTime}
    </if>
    <if test="endDateTime != null">
    	and apply2.CREATE_DATE_TIME &lt;= #{endDateTime}
    </if>
    <if test="apply2Ids != null">
    	and apply2.APPLY2_ID in
    	<foreach collection="apply2Ids" item="apply2Id" open="(" close=")" separator=",">
    		#{apply2Id}
    	</foreach>
    </if>
  </sql>
  <select id="findsApply2InActivity" resultMap="Apply2ResultMap" parameterType="com.cobble.takeaway.pojo.ActivitySearchPOJO" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from p_apply2 apply2
    join rel_activity_apply2 raa on raa.apply2_id = apply2.apply2_id
    join e_activity activity on activity.activity_id = raa.activity_id
    <where>
  		<trim prefixOverrides="and">
			and activity.activity_id = #{activityId}
  		</trim>
  	</where>
  	order by apply2.CREATE_DATE_TIME asc
	<if test="start > -1 and limit > 0">
		limit #{start}, #{limit}
	</if>
  </select>
  
  <select id="getCountApply2InActivity" resultType="int" parameterType="com.cobble.takeaway.pojo.ActivitySearchPOJO" >
    select
    count(1)
    from p_apply2 apply2
    join rel_activity_apply2 raa on raa.apply2_id = apply2.apply2_id
    join e_activity activity on activity.activity_id = raa.activity_id
    <where>
  		<trim prefixOverrides="and">
			and activity.activity_id = #{activityId}
  		</trim>
  	</where>
  	order by apply2.CREATE_DATE_TIME asc
  </select>
  
  <select id="findsApply2InActivityByUnionId" resultType="int"  parameterType="com.cobble.takeaway.pojo.Apply2SearchPOJO" >
    select
    count(1)
    from p_apply2 apply2
    join rel_activity_apply2 raa on raa.apply2_id = apply2.apply2_id
    join e_activity activity on activity.activity_id = raa.activity_id
    <where>
  		<trim prefixOverrides="and">
			and apply2.UNION_ID = #{unionId}
			and activity.activity_id = #{activityId}
  		</trim>
  	</where>
  	order by apply2.CREATE_DATE_TIME asc
	<!-- <if test="start > -1 and limit > 0">
		limit #{start}, #{limit}
	</if> -->
  </select>
  
  <select id="findsApply2InActivityByPhone" resultType="int"  parameterType="com.cobble.takeaway.pojo.Apply2SearchPOJO" >
    select
    count(1)
    from p_apply2 apply2
    join rel_activity_apply2 raa on raa.apply2_id = apply2.apply2_id
    join e_activity activity on activity.activity_id = raa.activity_id
    <where>
  		<trim prefixOverrides="and">
			and apply2.phone = #{phone}
			and activity.activity_id = #{activityId}
  		</trim>
  	</where>
  	order by apply2.CREATE_DATE_TIME asc
	<!-- <if test="start > -1 and limit > 0">
		limit #{start}, #{limit}
	</if> -->
  </select>
  
  <select id="finds" resultMap="Apply2ResultMap" parameterType="com.cobble.takeaway.pojo.Apply2SearchPOJO" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from p_apply2 apply2
    <where>
  		<trim prefixOverrides="and">
			<include refid="Clause_Common"/>
  		</trim>
  	</where>
  	order by apply2.CREATE_DATE_TIME asc
	<if test="start > -1 and limit > 0">
		limit #{start}, #{limit}
	</if>
  </select>
  <select id="getCount" parameterType="com.cobble.takeaway.pojo.Apply2SearchPOJO" resultType="java.lang.Integer" >
    select count(1) from p_apply2
    <where>
  		<trim prefixOverrides="and">
			<include refid="Clause_Common"/>
  		</trim>
  	</where>
  	order by apply2.CREATE_DATE_TIME asc
  </select>
  <select id="findById" resultMap="Apply2ResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from p_apply2 apply2
    where APPLY2_ID = #{apply2Id}
  </select>
  <!-- Apply2Result2Map -->
  <select id="finds2ByActivityId" resultMap="Apply2ResultMap" parameterType="com.cobble.takeaway.pojo.Apply2SearchPOJO" >
    select 
    <include refid="Base_Column_List" />
    from p_apply2 apply2, rel_activity_apply2 raa2
    <where>
  		<trim prefixOverrides="and">
			<include refid="Clause_Common"/>
			and apply2.apply2_id = raa2.apply2_id
			<if test="activityId != null">
				and raa2.ACTIVITY_ID = #{activityId}
			</if>
  		</trim>
  	</where>
    
  	order by apply2.CREATE_DATE_TIME asc
  </select>
  <delete id="deleteById" parameterType="java.lang.Long" >
    delete from p_apply2
    where APPLY2_ID = #{apply2Id}
  </delete>
  <insert id="insert" parameterType="com.cobble.takeaway.pojo.Apply2POJO" useGeneratedKeys="true"
  	keyProperty="apply2Id" keyColumn="APPLY2_ID">
    insert into p_apply2
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="proxyOpenId != null" >
        PROXY_OPEN_ID,
      </if>
      <if test="openId != null" >
        OPEN_ID,
      </if>
      <if test="unionId != null" >
        UNION_ID,
      </if>
      <if test="activityId != null" >
        ACTIVITY_ID,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
        CREATE_DATE_TIME,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId},
      </if>
      <if test="proxyOpenId != null" >
        #{proxyOpenId},
      </if>
      <if test="openId != null" >
        #{openId},
      </if>
      <if test="unionId != null" >
        #{unionId},
      </if>
      <if test="activityId != null" >
        #{activityId},
      </if>
      <if test="description != null" >
        #{description},
      </if>
        SYSDATE(),
    </trim>
  </insert>
  <insert id="insertRelActivityApply2" parameterType="com.cobble.takeaway.pojo.RelActivityApply2POJO" useGeneratedKeys="true"
  	keyProperty="relActivityApply2Id">
    insert into rel_activity_apply2
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="activityId != null" >
        ACTIVITY_ID,
      </if>
      <if test="apply2Id != null" >
        APPLY2_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="activityId != null" >
        #{activityId},
      </if>
      <if test="apply2Id != null" >
        #{apply2Id},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.cobble.takeaway.pojo.Apply2POJO" >
    update p_apply2
    <set >
      <if test="userId != null" >
        USER_ID = #{userId},
      </if>
      <if test="proxyOpenId != null" >
        PROXY_OPEN_ID = #{proxyOpenId},
      </if>
      <if test="openId != null" >
        OPEN_ID = #{openId},
      </if>
      <if test="unionId != null" >
        UNION_ID = #{unionId},
      </if>
      <if test="activityId != null" >
        ACTIVITY_ID = #{activityId},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description},
      </if>
        CREATE_DATE_TIME = sysdate(),
    </set>
    where APPLY2_ID = #{apply2Id}
  </update>
</mapper>