<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cobble.takeaway.dao.AwardRecordMapper" >
	<!-- <cache type="org.mybatis.caches.memcached.LoggingMemcachedCache" /> -->
	<!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache">
		<property name="timeToIdleSeconds" value="3600" />
		<property name="timeToLiveSeconds" value="3600" />
		<property name="maxEntriesLocalHeap" value="1000" />
		<property name="maxEntriesLocalDisk" value="10000000" />
		<property name="memoryStoreEvictionPolicy" value="LRU" />
	</cache> -->
	
  <resultMap id="AwardRecordResultMap" type="com.cobble.takeaway.pojo.AwardRecordPOJO" >
    <id column="AWARD_RECORD_ID" property="awardRecordId" />
    <result column="INTERACTIVE_ID" property="interactiveId" />
    <result column="AWARD_ID" property="awardId" />
    <result column="USER_ID" property="userId"/>
    <result column="HIT_DATE_TIME" property="hitDateTime"/>
    <result column="CREATE_DATE_TIME" property="createDateTime" />
    <association property="userPOJO" resultMap="com.cobble.takeaway.dao.UserMapper.UserResultMap" columnPrefix="B_"></association>
    <association property="awardPOJO" resultMap="com.cobble.takeaway.dao.AwardMapper.AwardResultMap" columnPrefix="C_"></association>
    <association property="wxPersonUserPOJO" resultMap="com.cobble.takeaway.dao.WxPersonUserMapper.WxPersonUserResultMap" columnPrefix="D_"></association>
    <association property="interactivePOJO" resultMap="com.cobble.takeaway.dao.InteractiveMapper.InteractiveResultMap" columnPrefix="E_"></association>
  </resultMap>
  
  <sql id="Base_Column_List" >
    a.AWARD_RECORD_ID, a.INTERACTIVE_ID, a.AWARD_ID, a.USER_ID, a.HIT_DATE_TIME
    , a.CREATE_DATE_TIME
  </sql>
  <sql id="Clause_Common">
	<if test="interactiveId != null">
		and a.INTERACTIVE_ID = #{interactiveId}
	</if>
	<if test="awardId != null">
		and a.AWARD_ID = #{awardId}
	</if>
	<if test="userId != null">
		and a.USER_ID = #{userId}
	</if>
  </sql>
  
  <select id="finds" resultMap="AwardRecordResultMap" parameterType="com.cobble.takeaway.pojo.AwardRecordSearchPOJO" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    , b.USER_ID as B_USER_ID, b.USERNAME as B_USERNAME, b.email as B_email
    , b.NICKNAME as B_NICKNAME, b.USER_TYPE as B_USER_TYPE
    , c.AWARD_ID as C_AWARD_ID, c.INTERACTIVE_ID as C_INTERACTIVE_ID, c.NAME as C_NAME, c.DESCRIPTION as C_DESCRIPTION, c.AMOUNT as C_AMOUNT
    , c.BALANCE as C_BALANCE, c.WEIGHT as C_WEIGHT, c.ORDER_NO as C_ORDER_NO, c.CREATE_DATE_TIME as C_CREATE_DATE_TIME
    , d.WX_PERSON_USER_ID as D_WX_PERSON_USER_ID, d.USER_ID as D_USER_ID, d.OPEN_ID as D_OPEN_ID, d.AUTHORIZER_APP_ID as D_AUTHORIZER_APP_ID
    , d.PROXY_OPEN_ID as D_PROXY_OPEN_ID, d.PROXY_AUTHORIZER_APP_ID as D_PROXY_AUTHORIZER_APP_ID
    , d.NICKNAME as D_NICKNAME, d.SEX as D_SEX, d.LANGUAGE as D_LANGUAGE
    , d.CITY as D_CITY, d.PROVINCE as D_PROVINCE, d.COUNTRY as D_COUNTRY, d.HEAD_IMG_URL as D_HEAD_IMG_URL, d.PRIVILEGES as D_PRIVILEGES
    , d.UNION_ID as D_UNION_ID, d.SUBSCRIBE as D_SUBSCRIBE, d.SUBSCRIBE_TIME as D_SUBSCRIBE_TIME, d.REMARK as D_REMARK, d.GROUP_ID as D_GROUP_ID
    , e.INTERACTIVE_ID as E_INTERACTIVE_ID, e.NAME as E_NAME, e.START_DATE_TIME as E_START_DATE_TIME
    , e.END_DATE_TIME as E_END_DATE_TIME, e.CONTENT as E_CONTENT, e.RULE as E_RULE
    , e.PRIZE as E_PRIZE, e.ANSWER as E_ANSWER, e.NUM_OF_WINNER as E_NUM_OF_WINNER, e.STATUS as E_STATUS
    , e.PRIZE_END_DATE_TIME as E_PRIZE_END_DATE_TIME
    , d.TAGID_LIST as D_TAGID_LIST, d.CREATE_DATE_TIME as D_CREATE_DATE_TIME
    from E_AWARD_RECORD a
    join e_interactive e on e.interactive_id = a.interactive_id
    join b_user b on b.user_id = a.user_id
    join e_award c on c.award_id = a.award_id
    left join wx_person_user d on d.user_id = b.user_id
    <where>
  		<trim prefixOverrides="and">
			<include refid="Clause_Common"/>
			<if test="awardNamesNot != null">
				and c.NAME not in
				<foreach collection="awardNamesNot" index="index" item="awardNameNot" open="(" close=")" separator=",">
					#{awardNameNot}
				</foreach>
			</if>
  		</trim>
  	</where>
  	order by a.CREATE_DATE_TIME desc
	<if test="start > -1 and limit > 0">
		limit #{start}, #{limit}
	</if>
  </select>
  <select id="getCount" parameterType="com.cobble.takeaway.pojo.AwardRecordSearchPOJO" resultType="java.lang.Integer" >
    select count(1) 
    from E_AWARD_RECORD a
    join e_interactive e on e.interactive_id = a.interactive_id
    join b_user b on b.user_id = a.user_id
    join e_award c on c.award_id = a.award_id
    left join wx_person_user d on d.user_id = b.user_id
    <where>
  		<trim prefixOverrides="and">
			<include refid="Clause_Common"/>
			<if test="awardNamesNot != null">
				and c.NAME not in
				<foreach collection="awardNamesNot" index="index" item="awardNameNot" open="(" close=")" separator=",">
					#{awardNameNot}
				</foreach>
			</if>
  		</trim>
  	</where>
  </select>
  
  <select id="findById" resultMap="AwardRecordResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from E_AWARD_RECORD a
    <where>
  		<trim prefixOverrides="and">
			and a.AWARD_RECORD_ID = #{awardRecordId}
  		</trim>
  	</where>
  </select>
  
  <delete id="deleteById" parameterType="java.lang.Long" >
    delete from E_AWARD_RECORD
    where AWARD_RECORD_ID = #{awardRecordId}
  </delete>
  <insert id="insert" parameterType="com.cobble.takeaway.pojo.AwardRecordPOJO" useGeneratedKeys="true"
  	keyProperty="awardRecordId" keyColumn="AWARD_RECORD_ID">
    insert into E_AWARD_RECORD
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="interactiveId != null" >
        INTERACTIVE_ID,
      </if>
      <if test="awardId != null" >
        AWARD_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="hitDateTime != null" >
        HIT_DATE_TIME,
      </if>
        CREATE_DATE_TIME,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="interactiveId != null" >
        #{interactiveId},
      </if>
      <if test="awardId != null" >
        #{awardId},
      </if>
      <if test="userId != null" >
        #{userId},
      </if>
      <if test="hitDateTime != null" >
        #{hitDateTime},
      </if>
        sysdate(),
    </trim>
  </insert>
  
  <update id="update" parameterType="com.cobble.takeaway.pojo.AwardRecordPOJO" >
    update E_AWARD_RECORD
    <set >
      <if test="interactiveId != null" >
        INTERACTIVE_ID = #{interactiveId},
      </if>
      <if test="awardId != null" >
        AWARD_ID = #{awardId},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId},
      </if>
      <if test="hitDateTime != null" >
        HIT_DATE_TIME = #{hitDateTime},
      </if>
        CREATE_DATE_TIME = sysdate(),
    </set>
    where AWARD_RECORD_ID = #{awardRecordId}
  </update>
  
</mapper>