<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cobble.takeaway.dao.FoodSellerMapper" >
	<!-- <cache type="org.mybatis.caches.memcached.LoggingMemcachedCache" /> -->
  <resultMap id="FoodSellerResultMap" type="com.cobble.takeaway.pojo.FoodSellerPOJO" >
    <id column="FOOD_SELLER_ID" property="foodSellerId" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    FOOD_SELLER_ID, NAME, PHONE
  </sql>
  <sql id="Where_Clause">
  	<where>
  		<trim prefixOverrides="and">
  			<if test="name != null">
  				and NAME like concat("%", concat(#{name}, "%"))
  			</if>
  		</trim>
  	</where>
  </sql>
  <select id="finds" resultMap="FoodSellerResultMap" parameterType="com.cobble.takeaway.pojo.FoodSellerPOJO" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from food_seller
    <include refid="Where_Clause"/>
  </select>
  <select id="getCount" parameterType="com.cobble.takeaway.pojo.FoodSellerPOJO" resultType="java.lang.Integer" >
    select count(1) from food_seller
    <include refid="Where_Clause"/>
  </select>
  <select id="findById" resultMap="FoodSellerResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from food_seller
    where FOOD_SELLER_ID = #{foodSellerId,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from food_seller
    where FOOD_SELLER_ID = #{foodSellerId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cobble.takeaway.pojo.FoodSellerPOJO" useGeneratedKeys="true">
    insert into food_seller
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        NAME,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.cobble.takeaway.pojo.FoodSellerPOJO" >
    update food_seller
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
    </set>
    where FOOD_SELLER_ID = #{foodSellerId,jdbcType=INTEGER}
  </update>
</mapper>