<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cobble.takeaway.dao.FoodMapper" >
	<!-- <cache type="org.mybatis.caches.memcached.LoggingMemcachedCache" /> -->
	
  <resultMap id="FoodResultMap" type="FoodPOJO" >
    <id column="FOOD_ID" property="foodId" jdbcType="INTEGER" />
    <result column="FOOD_SELLER_ID" property="foodSellerId" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="UNIT_PRICE" property="unitPrice" jdbcType="DOUBLE" />
    <result column="FOOD_TYPE_ID" property="foodTypeId"/>
    <association property="foodSellerPOJO" columnPrefix="FS_" resultMap="com.cobble.takeaway.dao.FoodSellerMapper.FoodSellerResultMap"></association>
  </resultMap>
  <sql id="Base_Column_List" >
    f.FOOD_ID, f.FOOD_SELLER_ID, f.NAME, f.UNIT_PRICE, f.FOOD_TYPE_ID
  </sql>
  <sql id="Clause_Common">
	<if test="name != null">
		and f.NAME like concat("%", concat(#{name}, "%"))
	</if>
  </sql>
  <select id="finds" resultMap="FoodResultMap" parameterType="FoodSearchPOJO" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,fs.FOOD_SELLER_ID as FS_FOOD_SELLER_ID, fs.NAME as FS_NAME, fs.PHONE as FS_PHONE
    from food f
    left join food_seller fs on fs.FOOD_SELLER_ID = f.FOOD_SELLER_ID
    <where>
  		<trim prefixOverrides="and">
			<include refid="Clause_Common"/>
  		</trim>
  	</where>
    order by NAME
	<if test="start > -1 and limit > 0">
		limit #{start}, #{limit}
	</if>
  </select>
  <select id="findsByFoodSellerId" resultMap="FoodResultMap" parameterType="Integer" >
    select distinct 
    <include refid="Base_Column_List" />
    ,fs.FOOD_SELLER_ID as FS_FOOD_SELLER_ID, fs.NAME as FS_NAME, fs.PHONE as FS_PHONE
    from food f
    left join food_seller fs on fs.FOOD_SELLER_ID = f.FOOD_SELLER_ID
    <where>
  		<trim prefixOverrides="and">
			and f.FOOD_SELLER_ID = #{foodSellerId}
  		</trim>
  	</where>
  </select>
  
  <select id="getCount" parameterType="FoodSearchPOJO" resultType="java.lang.Integer" >
    select count(1) from food f
    <where>
  		<trim prefixOverrides="and">
			<include refid="Clause_Common"/>
  		</trim>
  	</where>
  </select>
  <select id="findByFoodTypeId" resultMap="FoodResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from food f
    where FOOD_TYPE_ID = #{foodTypeId,jdbcType=INTEGER}
  </select>
  <select id="findById" resultMap="FoodResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from food f
    where FOOD_ID = #{foodId,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from food
    where FOOD_ID = #{foodId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="FoodPOJO" useGeneratedKeys="true">
    insert into food (FOOD_SELLER_ID, NAME, 
      UNIT_PRICE)
    values (#{foodSellerPOJO.foodSellerId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{unitPrice,jdbcType=DOUBLE})
  </insert>
  <update id="update" parameterType="com.cobble.takeaway.pojo.FoodPOJO" >
    update food
    set FOOD_SELLER_ID = #{foodSellerPOJO.foodSellerId,jdbcType=INTEGER},
      NAME = #{name,jdbcType=VARCHAR},
      UNIT_PRICE = #{unitPrice,jdbcType=DOUBLE}
    where FOOD_ID = #{foodId,jdbcType=INTEGER}
  </update>
</mapper>