<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cobble.takeaway.dao.FoodSellerMapper" >
	<!-- <cache type="org.mybatis.caches.memcached.LoggingMemcachedCache" /> -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache">
		<property name="timeToIdleSeconds" value="3600" /><!--1 hour -->
		<property name="timeToLiveSeconds" value="3600" /><!--1 hour -->
		<property name="maxEntriesLocalHeap" value="1000" />
		<property name="maxEntriesLocalDisk" value="10000000" />
		<property name="memoryStoreEvictionPolicy" value="LRU" />
	</cache>
	
  <resultMap id="FoodSellerResultMap" type="com.cobble.takeaway.pojo.FoodSellerPOJO" >
    <id column="FOOD_SELLER_ID" property="foodSellerId" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="LOGO_URL" property="logoUrl" jdbcType="VARCHAR" />
    <result column="BUSINESS_HOURS" property="businessHours"/>
    <result column="DELIVERY_AREA" property="deliveryArea"/>
    <result column="DELIVERY_PRICE_MIN" property="deliveryPriceMin"/>
    <result column="DELIVERY_FEE" property="deliveryFee"/>
    <result column="ADDRESS" property="address"/>
    <result column="NOTE" property="note"/>
    <result column="MAP_ADDR" property="mapAddr"/>
    
    <association property="locationBusinessPOJO" columnPrefix="LB_"
    	resultMap="com.cobble.takeaway.dao.LocationBusinessMapper.LocationBusinessResultMap"></association>
    <association property="locationAreaPOJO" columnPrefix="LA_"
    	resultMap="com.cobble.takeaway.dao.LocationAreaMapper.LocationAreaResultMap"></association>
    <association property="foodSellerTypePOJO" columnPrefix="FST_"
    	resultMap="com.cobble.takeaway.dao.FoodSellerTypeMapper.FoodSellerTypeResultMap"></association>
    	
    <association property="relBusinessSellerPOJO" columnPrefix="RBS_"
    	resultMap="RelBusinessSellerResultMap"></association>
    <association property="relAreaSellerPOJO" columnPrefix="RAS_"
    	resultMap="RelAreaSellerResultMap"></association>
    <association property="relFoodSellerTypePOJO" columnPrefix="RFST_"
    	resultMap="RelFoodSellerTypeResultMap"></association>
    
    <collection property="foodTypePOJOs" columnPrefix="FT_"  column="FOOD_TYPE_ID"
    	resultMap="com.cobble.takeaway.dao.FoodTypeMapper.FoodTypeResultMap"></collection>
   	<collection property="foodPOJOs" columnPrefix="F_"  column="FOOD_ID"
   	resultMap="com.cobble.takeaway.dao.FoodMapper.FoodResultMap"></collection>
    
    <!-- <collection property="locationBusinessPOJOs" 
    	resultMap="com.cobble.takeaway.dao.LocationBusinessMapper.LocationBusinessResultMap" columnPrefix="LB_"
    	column="FOOD_SELLER_ID"></collection>
    <collection property="locationAreaPOJOs"
    	resultMap="com.cobble.takeaway.dao.LocationAreaMapper.LocationAreaResultMap" columnPrefix="LA_"
    	column="FOOD_SELLER_ID"></collection> -->
  </resultMap>
  
  <resultMap id="FoodSellerForFoodResultMap" type="com.cobble.takeaway.pojo.FoodSellerPOJO" >
    <id column="FOOD_SELLER_ID" property="foodSellerId" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="LOGO_URL" property="logoUrl" jdbcType="VARCHAR" />
    <result column="BUSINESS_HOURS" property="businessHours"/>
    <result column="DELIVERY_AREA" property="deliveryArea"/>
    <result column="DELIVERY_PRICE_MIN" property="deliveryPriceMin"/>
    <result column="DELIVERY_FEE" property="deliveryFee"/>
    <result column="ADDRESS" property="address"/>
    <result column="NOTE" property="note"/>
    <result column="MAP_ADDR" property="mapAddr"/>
    
    <association property="locationBusinessPOJO" columnPrefix="LB_"
    	resultMap="com.cobble.takeaway.dao.LocationBusinessMapper.LocationBusinessResultMap"></association>
    <association property="locationAreaPOJO" columnPrefix="LA_"
    	resultMap="com.cobble.takeaway.dao.LocationAreaMapper.LocationAreaResultMap"></association>
    <association property="foodSellerTypePOJO" columnPrefix="FST_"
    	resultMap="com.cobble.takeaway.dao.FoodSellerTypeMapper.FoodSellerTypeResultMap"></association>
    	
    <association property="relBusinessSellerPOJO" columnPrefix="RBS_"
    	resultMap="RelBusinessSellerResultMap"></association>
    <association property="relAreaSellerPOJO" columnPrefix="RAS_"
    	resultMap="RelAreaSellerResultMap"></association>
    <association property="relFoodSellerTypePOJO" columnPrefix="RFST_"
    	resultMap="RelFoodSellerTypeResultMap"></association>
    
    <collection property="foodTypePOJOs" columnPrefix="FT_"  column="FOOD_TYPE_ID"
    	resultMap="com.cobble.takeaway.dao.FoodTypeMapper.FoodTypeResultMap"></collection>
   	<!-- <collection property="foodPOJOs" columnPrefix="F_"  column="FOOD_ID"
   	resultMap="com.cobble.takeaway.dao.FoodMapper.FoodResultMap"></collection> -->
    
    <!-- <collection property="locationBusinessPOJOs" 
    	resultMap="com.cobble.takeaway.dao.LocationBusinessMapper.LocationBusinessResultMap" columnPrefix="LB_"
    	column="FOOD_SELLER_ID"></collection>
    <collection property="locationAreaPOJOs"
    	resultMap="com.cobble.takeaway.dao.LocationAreaMapper.LocationAreaResultMap" columnPrefix="LA_"
    	column="FOOD_SELLER_ID"></collection> -->
  </resultMap>
  
  <resultMap id="RelBusinessSellerResultMap" type="com.cobble.takeaway.pojo.RelBusinessSellerPOJO" >
    <id column="REL_BUSINESS_SELLER_ID" property="relBusinessSellerId" />
    <result column="LOCATION_BUSINESS_ID" property="locationBusinessId" />
    <result column="FOOD_SELLER_ID" property="foodSellerId" />
  </resultMap>
  <resultMap id="RelAreaSellerResultMap" type="com.cobble.takeaway.pojo.RelAreaSellerPOJO" >
    <id column="REL_AREA_SELLER_ID" property="relAreaSellerId" />
    <result column="LOCATION_AREA_ID" property="locationAreaId" />
    <result column="FOOD_SELLER_ID" property="foodSellerId" />
  </resultMap>
  <resultMap id="RelFoodSellerTypeResultMap" type="com.cobble.takeaway.pojo.RelFoodSellerTypePOJO" >
    <id column="REL_FOOD_SELLER_TYPE_ID" property="relFoodSellerTypeId" />
    <result column="FOOD_SELLER_TYPE_ID" property="foodSellerTypeId" />
    <result column="FOOD_SELLER_ID" property="foodSellerId" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    fs.FOOD_SELLER_ID, fs.NAME, fs.PHONE, fs.LOGO_URL, fs.BUSINESS_HOURS, fs.DELIVERY_AREA
    , fs.DELIVERY_PRICE_MIN, fs.DELIVERY_FEE, fs.ADDRESS, fs.NOTE, fs.MAP_ADDR
  </sql>
  <sql id="Clause_Common">
	<if test="name != null and name != ''">
		and fs.NAME like concat("%", concat(#{name}, "%"))
	</if>
  </sql>
  
  <select id="findDetail" resultMap="FoodSellerResultMap" parameterType="int" >
    select
    <include refid="Base_Column_List" />
    , f.FOOD_ID as F_FOOD_ID, f.FOOD_SELLER_ID as F_FOOD_SELLER_ID, f.NAME as F_NAME
    , f.UNIT_PRICE as F_UNIT_PRICE, f.FOOD_TYPE_ID as F_FOOD_TYPE_ID
    , ft.FOOD_TYPE_ID as FT_FOOD_TYPE_ID, ft.NAME AS FT_NAME
    
    , lb.LOCATION_BUSINESS_ID as LB_LOCATION_BUSINESS_ID, lb.NAME as LB_NAME, lb.DESCRIPTION as LB_DESCRIPTION
    , la.LOCATION_AREA_ID as LA_LOCATION_AREA_ID, la.NAME as LA_NAME, la.DESCRIPTION as LA_DESCRIPTION
    , rbs.REL_BUSINESS_SELLER_ID as RBS_REL_BUSINESS_SELLER_ID, rbs.LOCATION_BUSINESS_ID as RBS_LOCATION_BUSINESS_ID, rbs.FOOD_SELLER_ID as RBS_FOOD_SELLER_ID
    , ras.REL_AREA_SELLER_ID AS RAS_REL_AREA_SELLER_ID, ras.LOCATION_AREA_ID AS RAS_LOCATION_AREA_ID, ras.FOOD_SELLER_ID AS RAS_FOOD_SELLER_ID
    
    from food_seller fs
    left join food f on f.FOOD_SELLER_ID = fs.FOOD_SELLER_ID
    left join food_type ft on ft.food_type_id = f.food_type_id
    
    left join rel_business_seller rbs on rbs.FOOD_SELLER_ID = fs.FOOD_SELLER_ID
    left join location_business lb on lb.LOCATION_BUSINESS_ID = rbs.LOCATION_BUSINESS_ID
    left join rel_area_seller ras on ras.FOOD_SELLER_ID = fs.FOOD_SELLER_ID
    left join location_area la on la.LOCATION_AREA_ID = ras.LOCATION_AREA_ID
    
    where fs.FOOD_SELLER_ID = #{foodSellerId}
  </select>
  
  <select id="findsByAreaId" resultMap="FoodSellerResultMap" parameterType="int" >
    select
    <include refid="Base_Column_List" />
    from food_seller fs
    join rel_area_seller ras on ras.FOOD_SELLER_ID = fs.FOOD_SELLER_ID
    where ras.LOCATION_AREA_ID = #{locationAreaId}
  </select>
  
  <select id="getCountByAreaId" resultType="int" parameterType="int" >
    select count(1)
    from food_seller fs
    join rel_area_seller ras on ras.FOOD_SELLER_ID = fs.FOOD_SELLER_ID
    where ras.LOCATION_AREA_ID = #{locationAreaId}
  </select>
  
  <select id="findsByBusinessId" resultMap="FoodSellerResultMap" parameterType="int" >
    select
    <include refid="Base_Column_List" />
    from food_seller fs
    join rel_business_seller rbs on rbs.FOOD_SELLER_ID = fs.FOOD_SELLER_ID
    where rbs.LOCATION_BUSINESS_ID = #{locationBusinessId}
  </select>
  
  <select id="getCountByBusinessId" resultType="int" parameterType="int" >
    select count(1)
    from food_seller fs
    join rel_business_seller rbs on rbs.FOOD_SELLER_ID = fs.FOOD_SELLER_ID
    where rbs.LOCATION_BUSINESS_ID = #{locationBusinessId}
  </select>
  
  <select id="findsByFoodSellerTypeId" resultMap="FoodSellerResultMap" parameterType="int" >
    select
    <include refid="Base_Column_List" />
    from food_seller fs
    join rel_food_seller_type rfst on rfst.FOOD_SELLER_ID = fs.FOOD_SELLER_ID
    where rfst.FOOD_SELLER_TYPE_ID = #{foodSellerTypeId}
  </select>
  
  <select id="getCountByFoodSellerTypeId" resultType="int" parameterType="int" >
    select count(1)
    from food_seller fs
    join rel_food_seller_type rfst on rfst.FOOD_SELLER_ID = fs.FOOD_SELLER_ID
    where rfst.FOOD_SELLER_TYPE_ID = #{foodSellerTypeId}
  </select>
  
  <select id="finds" resultMap="FoodSellerResultMap" parameterType="com.cobble.takeaway.pojo.FoodSellerSearchPOJO" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    , lb.LOCATION_BUSINESS_ID as LB_LOCATION_BUSINESS_ID, lb.NAME as LB_NAME, lb.DESCRIPTION as LB_DESCRIPTION
    , la.LOCATION_AREA_ID as LA_LOCATION_AREA_ID, la.NAME as LA_NAME, la.DESCRIPTION as LA_DESCRIPTION
    , rbs.REL_BUSINESS_SELLER_ID as RBS_REL_BUSINESS_SELLER_ID, rbs.LOCATION_BUSINESS_ID as RBS_LOCATION_BUSINESS_ID, rbs.FOOD_SELLER_ID as RBS_FOOD_SELLER_ID
    , ras.REL_AREA_SELLER_ID AS RAS_REL_AREA_SELLER_ID, ras.LOCATION_AREA_ID AS RAS_LOCATION_AREA_ID, ras.FOOD_SELLER_ID AS RAS_FOOD_SELLER_ID
    , rfst.REL_FOOD_SELLER_TYPE_ID AS RFST_REL_FOOD_SELLER_TYPE_ID, rfst.FOOD_SELLER_ID AS RFST_FOOD_SELLER_ID, rfst.FOOD_SELLER_TYPE_ID AS RFST_FOOD_SELLER_TYPE_ID
    , fst.FOOD_SELLER_TYPE_ID AS FST_FOOD_SELLER_TYPE_ID, fst.NAME AS FST_NAME, fst.ICON AS FST_ICON
    from food_seller fs
    left join rel_business_seller rbs on rbs.FOOD_SELLER_ID = fs.FOOD_SELLER_ID
    left join location_business lb on lb.LOCATION_BUSINESS_ID = rbs.LOCATION_BUSINESS_ID
    left join rel_area_seller ras on ras.FOOD_SELLER_ID = fs.FOOD_SELLER_ID
    left join location_area la on la.LOCATION_AREA_ID = ras.LOCATION_AREA_ID
    left join rel_food_seller_type  rfst on rfst.FOOD_SELLER_ID = fs.FOOD_SELLER_ID
    left join food_seller_type fst on fst.FOOD_SELLER_TYPE_ID = rfst.FOOD_SELLER_TYPE_ID
    <where>
  		<trim prefixOverrides="and">
			<include refid="Clause_Common"/>
  		</trim>
  	</where>
	<if test="start > -1 and limit > 0">
		limit #{start}, #{limit}
	</if>
  </select>
  <select id="getCount" parameterType="com.cobble.takeaway.pojo.FoodSellerSearchPOJO" resultType="java.lang.Integer" >
    select count(1) from food_seller fs
    <where>
  		<trim prefixOverrides="and">
			<include refid="Clause_Common"/>
  		</trim>
  	</where>
  </select>
  <select id="findById" resultMap="FoodSellerResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from food_seller
    where FOOD_SELLER_ID = #{foodSellerId,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from food_seller where FOOD_SELLER_ID = #{foodSellerId,jdbcType=INTEGER};
    delete from rel_business_seller where FOOD_SELLER_ID = #{foodSellerId,jdbcType=INTEGER};
    delete from rel_area_seller where FOOD_SELLER_ID = #{foodSellerId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.cobble.takeaway.pojo.FoodSellerPOJO" keyProperty="foodSellerId" useGeneratedKeys="true" keyColumn="FOOD_SELLER_ID">
  	<!-- <selectKey keyProperty="foodSellerId" resultType="int" order="BEFORE">
         SELECT LAST_INSERT_ID()
     </selectKey> -->
    insert into food_seller
    <trim prefix="(" suffix=")" suffixOverrides="," >
    	<!-- <if test="foodSellerId != null" >
        FOOD_SELLER_ID,
      </if> -->
      <if test="name != null" >
        NAME,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="logoUrl != null" >
        LOGO_URL,
      </if>
      <if test="businessHours != null" >
        BUSINESS_HOURS,
      </if>
      <if test="deliveryArea != null" >
        DELIVERY_AREA,
      </if>
      <if test="deliveryPriceMin != null" >
        DELIVERY_PRICE_MIN,
      </if>
      <if test="deliveryFee != null" >
        DELIVERY_FEE,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="note != null" >
        NOTE,
      </if>
      <if test="mapAddr != null" >
        MAP_ADDR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <!-- <if test="foodSellerId != null" >
        #{foodSellerId,jdbcType=VARCHAR},
      </if> -->
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="logoUrl != null" >
         #{logoUrl,jdbcType=VARCHAR},
      </if>
      <if test="businessHours != null" >
         #{businessHours,jdbcType=VARCHAR},
      </if>
      <if test="deliveryArea != null" >
         #{deliveryArea,jdbcType=VARCHAR},
      </if>
      <if test="deliveryPriceMin != null" >
         #{deliveryPriceMin,jdbcType=VARCHAR},
      </if>
      <if test="deliveryFee != null" >
         #{deliveryFee},
      </if>
      <if test="address != null" >
         #{address,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
         #{note,jdbcType=VARCHAR},
      </if>
      <if test="mapAddr != null" >
         #{mapAddr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <insert id="insertRelBusinessSeller" keyProperty="relBusinessSellerId" parameterType="com.cobble.takeaway.pojo.RelBusinessSellerPOJO" useGeneratedKeys="true">
    insert into rel_business_seller
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="locationBusinessId != null" >
        LOCATION_BUSINESS_ID,
      </if>
      <if test="foodSellerId != null" >
        FOOD_SELLER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
    	<if test="locationBusinessId != null" >
        #{locationBusinessId,jdbcType=VARCHAR},
      </if>
      <if test="foodSellerId != null" >
        #{foodSellerId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <insert id="insertRelAreaSeller" keyProperty="relAreaSellerId" parameterType="com.cobble.takeaway.pojo.RelAreaSellerPOJO" useGeneratedKeys="true">
    insert into rel_area_seller
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="locationAreaId != null" >
        LOCATION_AREA_ID,
      </if>
      <if test="foodSellerId != null" >
        FOOD_SELLER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
    	<if test="locationAreaId != null" >
        #{locationAreaId},
      </if>
      <if test="foodSellerId != null" >
        #{foodSellerId},
      </if>
    </trim>
  </insert>
  
  <insert id="insertRelFoodSellerType" keyProperty="relFoodSellerTypeId" parameterType="RelFoodSellerTypePOJO" useGeneratedKeys="true">
    insert into rel_food_seller_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="foodSellerTypeId != null" >
        FOOD_SELLER_TYPE_ID,
      </if>
      <if test="foodSellerId != null" >
        FOOD_SELLER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
    	<if test="foodSellerTypeId != null" >
        #{foodSellerTypeId},
      </if>
      <if test="foodSellerId != null" >
        #{foodSellerId},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="com.cobble.takeaway.pojo.FoodSellerPOJO" >
    update food_seller
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="logoUrl != null" >
         LOGO_URL = #{logoUrl,jdbcType=VARCHAR},
      </if>
      <if test="businessHours != null" >
         BUSINESS_HOURS = #{businessHours,jdbcType=VARCHAR},
      </if>
      <if test="deliveryArea != null" >
         DELIVERY_AREA = #{deliveryArea,jdbcType=VARCHAR},
      </if>
      <if test="deliveryPriceMin != null" >
         DELIVERY_PRICE_MIN = #{deliveryPriceMin,jdbcType=VARCHAR},
      </if>
      <if test="deliveryFee != null" >
         DELIVERY_FEE = #{deliveryFee},
      </if>
      <if test="address != null" >
         ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
         NOTE = #{note,jdbcType=VARCHAR},
      </if>
      <if test="mapAddr != null" >
         MAP_ADDR = #{mapAddr,jdbcType=VARCHAR},
      </if>
    </set>
    where FOOD_SELLER_ID = #{foodSellerId,jdbcType=INTEGER}
  </update>
  
  <update id="updateRelBusinessSeller" parameterType="com.cobble.takeaway.pojo.RelBusinessSellerPOJO" >
    update rel_business_seller
    <set >
      <if test="locationBusinessId != null" >
        LOCATION_BUSINESS_ID = #{locationBusinessId},
      </if>
      <if test="foodSellerId != null" >
        FOOD_SELLER_ID = #{foodSellerId},
      </if>
    </set>
    where REL_BUSINESS_SELLER_ID = #{relBusinessSellerId}
  </update>
  
  <update id="updateRelAreaSeller" parameterType="com.cobble.takeaway.pojo.RelAreaSellerPOJO" >
    update rel_area_seller
    <set >
      <if test="locationAreaId != null" >
        LOCATION_AREA_ID = #{locationAreaId},
      </if>
      <if test="foodSellerId != null" >
        FOOD_SELLER_ID = #{foodSellerId},
      </if>
    </set>
    where REL_AREA_SELLER_ID = #{relAreaSellerId}
  </update>
  <update id="updateRelFoodSellerType" parameterType="com.cobble.takeaway.pojo.RelFoodSellerTypePOJO" >
    update rel_food_seller_type
    <set >
      <if test="foodSellerTypeId != null" >
        FOOD_SELLER_TYPE_ID = #{foodSellerTypeId},
      </if>
      <if test="foodSellerId != null" >
        FOOD_SELLER_ID = #{foodSellerId},
      </if>
    </set>
    where REL_FOOD_SELLER_TYPE_ID = #{relFoodSellerTypeId}
  </update>
</mapper>