<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cobble.takeaway.dao.FoodMenuMapper" >
	<!-- <cache type="org.mybatis.caches.memcached.LoggingMemcachedCache" /> -->
  <resultMap id="FoodMenuResultMap" type="com.cobble.takeaway.pojo.FoodMenuPOJO" >
    <id column="FOOD_MENU_ID" property="foodMenuId" jdbcType="INTEGER" />
    <result column="FOOD_SELLER_ID" property="foodSellerId" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    FOOD_MENU_ID, FOOD_SELLER_ID, NAME
  </sql>
  <sql id="Clause_Common">
	<if test="name != null">
		and NAME like concat("%", concat(#{name}, "%"))
	</if>
  </sql>
  <select id="finds" resultMap="FoodMenuResultMap" parameterType="com.cobble.takeaway.pojo.FoodMenuPOJO" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from food_menu
    <where>
  		<trim prefixOverrides="and">
			<include refid="Clause_Common"/>
  		</trim>
  	</where>
      order by NAME
	<if test="start > -1 and limit > 0">
		limit #{start}, #{limit}
	</if>
  </select>
  <select id="getCount" parameterType="com.cobble.takeaway.pojo.FoodMenuPOJO" resultType="java.lang.Integer" >
    select count(1) from food_menu
    <where>
  		<trim prefixOverrides="and">
			<include refid="Clause_Common"/>
  		</trim>
  	</where>
  </select>
  <select id="findById" resultMap="FoodMenuResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from food_menu
    where FOOD_MENU_ID = #{foodMenuId,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from food_menu
    where FOOD_MENU_ID = #{foodMenuId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cobble.takeaway.pojo.FoodMenuPOJO" useGeneratedKeys="true">
    insert into food_menu (FOOD_SELLER_ID, NAME
      )
    values (#{foodSellerId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}
      )
  </insert>
  <update id="update" parameterType="com.cobble.takeaway.pojo.FoodMenuPOJO" >
    update food_menu
    <set >
      <if test="foodSellerId != null" >
        FOOD_SELLER_ID = #{foodSellerId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where FOOD_MENU_ID = #{foodMenuId,jdbcType=INTEGER}
  </update>
</mapper>