<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cobble.takeaway.dao.FoodSellerTypeMapper" >
	<!-- <cache type="org.mybatis.caches.memcached.LoggingMemcachedCache" /> -->
  <resultMap id="FoodSellerTypeResultMap" type="FoodSellerTypePOJO" >
    <id column="FOOD_SELLER_TYPE_ID" property="foodSellerTypeId" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="ICON" property="icon" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    FOOD_SELLER_TYPE_ID, NAME, ICON
  </sql>
  <sql id="Clause_Common">
	<if test="name != null">
		and NAME like concat("%", concat(#{name}, "%"))
	</if>
  </sql>
  <select id="finds" resultMap="FoodSellerTypeResultMap" parameterType="FoodSellerTypeSearchPOJO" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from FOOD_SELLER_TYPE
    <where>
  		<trim prefixOverrides="and">
			<include refid="Clause_Common"/>
  		</trim>
  	</where>
	<if test="start > -1 and limit > 0">
		limit #{start}, #{limit}
	</if>
  </select>
  <select id="getCount" parameterType="FoodSellerTypeSearchPOJO" resultType="java.lang.Integer" >
    select count(1) from FOOD_SELLER_TYPE
    <where>
  		<trim prefixOverrides="and">
			<include refid="Clause_Common"/>
  		</trim>
  	</where>
  </select>
  <select id="findById" resultMap="FoodSellerTypeResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from FOOD_SELLER_TYPE
    where FOOD_SELLER_TYPE_ID = #{foodSellerTypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from FOOD_SELLER_TYPE
    where FOOD_SELLER_TYPE_ID = #{foodSellerTypeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="FoodSellerTypePOJO" useGeneratedKeys="true">
    insert into FOOD_SELLER_TYPE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="foodSellerTypeId != null" >
        FOOD_SELLER_TYPE_ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="icon != null" >
        ICON,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="foodSellerTypeId != null" >
        #{foodSellerTypeId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="FoodSellerTypePOJO" >
    update FOOD_SELLER_TYPE
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        ICON = #{icon,jdbcType=VARCHAR},
      </if>
    </set>
    where FOOD_SELLER_TYPE_ID = #{foodSellerTypeId,jdbcType=INTEGER}
  </update>
</mapper>