<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webex.smsc.core.dao.LogMapper">
	<cache type="org.mybatis.caches.memcached.LoggingMemcachedCache" />

	<resultMap type="LogPOJO" id="logResultMap">
		<id property="logId" column="log_id" />
		<result property="resourceName" column="RESOURCE_NAME" />
		<result property="trackingId" column="TRACKING_ID" />
		<result property="logContent" column="LOG_CONTENT" />
		<result property="requestDatetime" column="REQUEST_DATETIME" />
		<result property="createTime" column="CREATETIME" />
		<result property="lastModifiedTime" column="LASTMODIFIEDTIME" />
	</resultMap>

	<select id="findLogs" parameterType="LogSearchPOJO" resultMap="logResultMap">
		SELECT * FROM D_LOG
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="trackingId != null">
				TRACKING_ID = #{trackingId}
			</if>
		</trim>
	</select>

	<select id="getLogById" parameterType="Long" resultMap="logResultMap">  
        <![CDATA[ 
            SELECT * FROM D_LOG
			WHERE LOG_ID =  #{logID}
        ]]>
	</select>

	<insert id="insertLog" parameterType="LogPOJO">
		INSERT INTO D_LOG(RESOURCE_NAME, TRACKING_ID, LOG_CONTENT, REQUEST_DATETIME,
		CREATETIME,
		LASTMODIFIEDTIME)
		VALUES(
		#{resourceName},
		#{trackingId},
		#{logContent},
		#{requestDatetime},
		sysdate(),
		sysdate()
		)
	</insert>

</mapper>