<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cobble.takeaway.dao.OrderFormMapper" >
	<!-- <cache type="org.mybatis.caches.memcached.LoggingMemcachedCache" /> -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache">
		<property name="timeToIdleSeconds" value="3600" /><!--1 hour -->
		<property name="timeToLiveSeconds" value="3600" /><!--1 hour -->
		<property name="maxEntriesLocalHeap" value="1000" />
		<property name="maxEntriesLocalDisk" value="10000000" />
		<property name="memoryStoreEvictionPolicy" value="LRU" />
	</cache>
	
  <resultMap id="OrderFormResultMap" type="com.cobble.takeaway.pojo.OrderFormPOJO" >
    <id column="ORDER_FORM_ID" property="orderFormId" jdbcType="INTEGER" />
    <result column="FOOD_SELLER_ID" property="foodSellerId" jdbcType="INTEGER" />
    <result column="DEFINE_TIME" property="defineTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ORDER_FORM_ID, FOOD_SELLER_ID, DEFINE_TIME
  </sql>
  <sql id="Clause_Common">
	<if test="name != null">
		and 1 = 1
	</if>
  </sql>
  <select id="finds" resultMap="OrderFormResultMap" parameterType="com.cobble.takeaway.pojo.OrderFormSearchPOJO" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from order_form
    <where>
  		<trim prefixOverrides="and">
			<include refid="Clause_Common"/>
  		</trim>
  	</where>
	<if test="start > -1 and limit > 0">
		limit #{start}, #{limit}
	</if>
  </select>
  <select id="getCount" parameterType="com.cobble.takeaway.pojo.OrderFormSearchPOJO" resultType="java.lang.Integer" >
    select count(1) from order_form
    <where>
  		<trim prefixOverrides="and">
			<include refid="Clause_Common"/>
  		</trim>
  	</where>
  </select>
  <select id="findById" resultMap="OrderFormResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from order_form
    where ORDER_FORM_ID = #{orderFormId,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from order_form
    where ORDER_FORM_ID = #{orderFormId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cobble.takeaway.pojo.OrderFormPOJO" useGeneratedKeys="true">
    insert into order_form
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="foodSellerId != null" >
        FOOD_SELLER_ID,
      </if>
      <if test="defineTime != null" >
        DEFINE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="foodSellerId != null" >
        #{foodSellerId,jdbcType=INTEGER},
      </if>
      <if test="defineTime != null" >
        #{defineTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.cobble.takeaway.pojo.OrderFormPOJO" >
    update order_form
    <set >
      <if test="foodSellerId != null" >
        FOOD_SELLER_ID = #{foodSellerId,jdbcType=INTEGER},
      </if>
      <if test="defineTime != null" >
        DEFINE_TIME = #{defineTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ORDER_FORM_ID = #{orderFormId,jdbcType=INTEGER}
  </update>
</mapper>