<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cobble.takeaway.dao.RelWxPuOpenMapper" >
	<!-- <cache type="org.mybatis.caches.memcached.LoggingMemcachedCache" /> -->
	<!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache">
		<property name="timeToIdleSeconds" value="3600" />
		<property name="timeToLiveSeconds" value="3600" />
		<property name="maxEntriesLocalHeap" value="1000" />
		<property name="maxEntriesLocalDisk" value="10000000" />
		<property name="memoryStoreEvictionPolicy" value="LRU" />
	</cache> -->
	
  <resultMap id="RelWxPuOpenResultMap" type="com.cobble.takeaway.pojo.weixin.RelWxPuOpenPOJO" >
    <id column="REL_WX_PU_OPEN_ID" property="relWxPuOpenId" />
    <result column="WX_PERSON_USER_ID" property="wxPersonUserId"/>
    <result column="OPEN_ID" property="openId" />
    <result column="AUTHORIZER_APP_ID" property="authorizerAppId" />
    <result column="CREATE_DATE_TIME" property="createDateTime" />
    <association property="wxPersonUserPOJO" resultMap="com.cobble.takeaway.dao.WxPersonUserMapper.WxPersonUserResultMap" columnPrefix="PU_"></association>
  </resultMap>
  
  <sql id="Base_Column_List" >
    a.REL_WX_PU_OPEN_ID, a.WX_PERSON_USER_ID, a.OPEN_ID, a.AUTHORIZER_APP_ID, a.CREATE_DATE_TIME
  </sql>
  <sql id="Clause_Common">
	<if test="openId != null">
		and a.OPEN_ID = #{openId}
	</if>
	<if test="wxPersonUserId != null">
		and a.WX_PERSON_USER_ID = #{wxPersonUserId}
	</if>
	<if test="authorizerAppId != null">
		and a.AUTHORIZER_APP_ID = #{authorizerAppId}
	</if>
	<if test="unionId != null">
		and a.UNION_ID = #{unionId}
	</if>
  </sql>
  
  <select id="findWithPu" resultMap="RelWxPuOpenResultMap" parameterType="com.cobble.takeaway.pojo.weixin.RelWxPuOpenSearchPOJO" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    , b.WX_PERSON_USER_ID PU_WX_PERSON_USER_ID, b.USER_ID PU_USER_ID, b.NICKNAME PU_NICKNAME, b.SEX PU_SEX, b.LANGUAGE PU_LANGUAGE
    , b.CITY PU_CITY, b.PROVINCE PU_PROVINCE, b.COUNTRY PU_COUNTRY, b.HEAD_IMG_URL PU_HEAD_IMG_URL, b.PRIVILEGES PU_PRIVILEGES
    , b.UNION_ID PU_UNION_ID, b.SUBSCRIBE PU_SUBSCRIBE, b.SUBSCRIBE_TIME PU_SUBSCRIBE_TIME, b.REMARK PU_REMARK, b.GROUP_ID PU_GROUP_ID
    , b.TAGID_LIST PU_TAGID_LIST, b.CREATE_DATE_TIME PU_CREATE_DATE_TIME
    from REL_WX_PU_OPEN a, WX_PERSON_USER b
    <where>
  		<trim prefixOverrides="and">
			<include refid="Clause_Common"/>
  		</trim>
  	</where>
  	order by a.CREATE_DATE_TIME desc
	<if test="start > -1 and limit > 0">
		limit #{start}, #{limit}
	</if>
  </select>
  
  <select id="finds" resultMap="RelWxPuOpenResultMap" parameterType="com.cobble.takeaway.pojo.weixin.RelWxPuOpenSearchPOJO" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from REL_WX_PU_OPEN a
    <where>
  		<trim prefixOverrides="and">
			<include refid="Clause_Common"/>
  		</trim>
  	</where>
  	order by a.CREATE_DATE_TIME desc
	<if test="start > -1 and limit > 0">
		limit #{start}, #{limit}
	</if>
  </select>
  
  <select id="getCount" parameterType="com.cobble.takeaway.pojo.weixin.RelWxPuOpenSearchPOJO" resultType="java.lang.Integer" >
    select count(1) from REL_WX_PU_OPEN a
    <where>
  		<trim prefixOverrides="and">
			<include refid="Clause_Common"/>
  		</trim>
  	</where>
  </select>
  
  <select id="findById" resultMap="RelWxPuOpenResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from REL_WX_PU_OPEN a
    <where>
  		<trim prefixOverrides="and">
			and a.REL_WX_PU_OPEN_ID = #{relWxPuOpenId}
  		</trim>
  	</where>
  </select>
  <delete id="deleteById" parameterType="java.lang.Long" >
    delete from REL_WX_PU_OPEN
    where REL_WX_PU_OPEN_ID = #{relWxPuOpenIdId}
  </delete>
  <insert id="insert" parameterType="com.cobble.takeaway.pojo.weixin.RelWxPuOpenPOJO" useGeneratedKeys="true"
  	keyProperty="relWxPuOpenIdId" keyColumn="REL_WX_PU_OPEN_ID">
    insert into REL_WX_PU_OPEN
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="wxPersonUserId != null" >
        WX_PERSON_USER_ID,
      </if>
      <if test="openId != null" >
        OPEN_ID,
      </if>
      <if test="authorizerAppId != null" >
        AUTHORIZER_APP_ID,
      </if>
      <if test="createDateTime != null" >
        CREATE_DATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="wxPersonUserId != null" >
        #{wxPersonUserId},
      </if>
      <if test="openId != null" >
        #{openId},
      </if>
      <if test="authorizerAppId != null" >
        #{authorizerAppId},
      </if>
      <if test="createDateTime != null" >
        #{createDateTime},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="com.cobble.takeaway.pojo.weixin.RelWxPuOpenPOJO" >
    update REL_WX_PU_OPEN
    <set >
      <if test="wxPersonUserId != null" >
        WX_PERSON_USER_ID = #{wxPersonUserId},
      </if>
      <if test="openId != null" >
        OPEN_ID = #{openId},
      </if>
      <if test="authorizerAppId != null" >
        AUTHORIZER_APP_ID = #{authorizerAppId},
      </if>
      <if test="createDateTime != null" >
        CREATE_DATE_TIME = #{createDateTime},
      </if>
    </set>
    where REL_WX_PU_OPEN_ID = #{relWxPuOpenIdId}
  </update>
  
</mapper>