<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cobble.takeaway.dao.UserMapper" >
	<!-- <cache type="org.mybatis.caches.memcached.LoggingMemcachedCache" /> -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache">
		<property name="timeToIdleSeconds" value="3600" /><!--1 hour -->
		<property name="timeToLiveSeconds" value="3600" /><!--1 hour -->
		<property name="maxEntriesLocalHeap" value="1000" />
		<property name="maxEntriesLocalDisk" value="10000000" />
		<property name="memoryStoreEvictionPolicy" value="LRU" />
	</cache>
	
  <resultMap id="UserResultMap" type="UserPOJO" >
    <id column="USER_ID" property="userId" jdbcType="INTEGER" />
    <result column="USERNAME" property="username" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="ENABLE" property="enable"/>
    <collection property="rolePOJOs" column="USER_ID" select="com.cobble.takeaway.dao.RoleMapper.findByUserId"></collection>
  </resultMap>
  <sql id="Base_Column_List" >
    u.USER_ID, u.USERNAME, u.PASSWORD, u.ENABLE
  </sql>
  <sql id="Clause_Common">
	<if test="username != null and username != ''">
		and u.USERNAME like concat("%", concat(#{username}, "%"))
	</if>
  </sql>
  <select id="findUserByName" resultMap="UserResultMap" parameterType="String" >
    select
      distinct
    <include refid="Base_Column_List" />
    from b_user u
    where u.USERNAME = #{username}
  </select>
  <select id="finds" resultMap="UserResultMap" parameterType="UserSearchPOJO" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from b_user u
    <where>
  		<trim prefixOverrides="and">
			<include refid="Clause_Common"/>
  		</trim>
  	</where>
    order by USERNAME
	<if test="start > -1 and limit > 0">
		limit #{start}, #{limit}
	</if>
  </select>
  
  <select id="getCount" parameterType="UserSearchPOJO" resultType="java.lang.Integer" >
    select count(1) from b_user u
    <where>
  		<trim prefixOverrides="and">
			<include refid="Clause_Common"/>
  		</trim>
  	</where>
  </select>
  <select id="findById" resultMap="UserResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from b_user u
    where USER_ID = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from b_user
    where USER_ID = #{userId,jdbcType=INTEGER};
    delete from b_user_role
    where USER_ID = #{userId,jdbcType=INTEGER};
  </delete>
  <insert id="insert" parameterType="UserPOJO" useGeneratedKeys="true" keyColumn="USER_ID" keyProperty="userId">
    insert into b_user (USERNAME, 
      PASSWORD, ENABLE)
    values (#{username,jdbcType=VARCHAR}, 
      #{password}, #{enable})
  </insert>
  <update id="update" parameterType="UserPOJO" >
    update b_user
    set USERNAME = #{username,jdbcType=VARCHAR},
      PASSWORD = #{password},
      ENABLE = #{enable}
    where USER_ID = #{userId,jdbcType=INTEGER};
    
    delete from rel_user_role where USER_ID = #{userId};
    
    <foreach collection="roleId" item="item">
    insert into rel_user_role (ROLE_ID, USER_ID)
    values (#{item}, #{userId});
    </foreach>
  </update>
</mapper>