<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cobble.takeaway.dao.WxComAccessTokenMapper" >
	<!-- <cache type="org.mybatis.caches.memcached.LoggingMemcachedCache" /> -->
	<!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache">
		<property name="timeToIdleSeconds" value="3600" />
		<property name="timeToLiveSeconds" value="3600" />
		<property name="maxEntriesLocalHeap" value="1000" />
		<property name="maxEntriesLocalDisk" value="10000000" />
		<property name="memoryStoreEvictionPolicy" value="LRU" />
	</cache> -->
	
  <resultMap id="WxComAccessTokenResultMap" type="com.cobble.takeaway.pojo.weixin.api.WxComAccessTokenApiPOJO" >
    <id column="WX_COM_ACCESS_TOKEN_ID" property="wxComAccessTokenId" />
    <result column="COMPONENT_ACCESS_TOKEN" property="componentAccessToken"/>
    <result column="EXPIRES_IN" property="expiresIn" />
    <result column="CREATE_DATE_TIME" property="createDateTime" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    a.WX_COM_ACCESS_TOKEN_ID, a.COMPONENT_ACCESS_TOKEN, a.EXPIRES_IN, a.CREATE_DATE_TIME
  </sql>
  <sql id="Clause_Common">
	<if test="componentAccessToken != null">
		and a.COMPONENT_ACCESS_TOKEN like concat("%", concat(#{componentAccessToken}, "%"))
	</if>
  </sql>
  
  <select id="finds" resultMap="WxComAccessTokenResultMap" parameterType="com.cobble.takeaway.pojo.weixin.api.WxComAccessTokenSearchApiPOJO" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from WX_COM_ACCESS_TOKEN a
    <where>
  		<trim prefixOverrides="and">
			<include refid="Clause_Common"/>
  		</trim>
  	</where>
  	order by a.CREATE_DATE_TIME desc
	<if test="start > -1 and limit > 0">
		limit #{start}, #{limit}
	</if>
  </select>
  
  <select id="getCount" parameterType="com.cobble.takeaway.pojo.weixin.api.WxComAccessTokenSearchApiPOJO" resultType="java.lang.Integer" >
    select count(1) from WX_COM_ACCESS_TOKEN a
    <where>
  		<trim prefixOverrides="and">
			<include refid="Clause_Common"/>
  		</trim>
  	</where>
  </select>
  
  <select id="findById" resultMap="WxComAccessTokenResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from WX_COM_ACCESS_TOKEN a
    <where>
  		<trim prefixOverrides="and">
			and a.WX_COM_ACCESS_TOKEN_ID = #{wxComAccessTokenId}
  		</trim>
  	</where>
  </select>
  <delete id="deleteById" parameterType="java.lang.Long" >
    delete from WX_COM_ACCESS_TOKEN
    where WX_COM_ACCESS_TOKEN_ID = #{wxComAccessTokenId}
  </delete>
  <insert id="insert" parameterType="com.cobble.takeaway.pojo.weixin.api.WxComAccessTokenApiPOJO" useGeneratedKeys="true"
  	keyProperty="wxComAccessTokenId" keyColumn="WX_COM_ACCESS_TOKEN_ID">
    insert into WX_COM_ACCESS_TOKEN
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="componentAccessToken != null" >
        COMPONENT_ACCESS_TOKEN,
      </if>
      <if test="expiresIn != null" >
        EXPIRES_IN,
      </if>
      <if test="createDateTime != null" >
        CREATE_DATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="componentAccessToken != null" >
        #{componentAccessToken},
      </if>
      <if test="expiresIn != null" >
        #{expiresIn},
      </if>
      <if test="createDateTime != null" >
        #{createDateTime},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="com.cobble.takeaway.pojo.weixin.api.WxComAccessTokenApiPOJO" >
    update WX_COM_ACCESS_TOKEN
    <set >
      <if test="componentAccessToken != null" >
        COMPONENT_ACCESS_TOKEN = #{componentAccessToken},
      </if>
      <if test="expiresIn != null" >
        EXPIRES_IN = #{expiresIn},
      </if>
      <if test="createDateTime != null" >
        CREATE_DATE_TIME = #{createDateTime},
      </if>
    </set>
    where WX_COM_ACCESS_TOKEN_ID = #{wxComAccessTokenId}
  </update>
  
</mapper>