*, html, body, table, tbody, tr, td, form, div, span, ul, li, img, p, b, textarea, input, select, a {
	margin: 0 auto;
	padding: 0 0;
	font-family: "宋体", vendana, Arial, Helvetica, sans-serif;
	/*font-size: 18px;*/
	list-style-type: none;
}
html, body, table {
	height: 100%;
	width: 100%;
}
img {
	max-width: 100% !important
}

.nav a {
	outline:none !important;
}

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}