@charset "utf-8";
/* CSS Document */
body{font-size:12px; font-family:"宋体";}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,a,p,input,img,dl,dt,dd,ol,ul,li,form,legend,tr,th,td{margin:0;padding:0;border:0;outline:0;}
img     { border:0; vertical-align:top }
ul,li { list-style:none;}
a{ color:#000000;text-decoration:none; cursor:pointer;}
a:link {
 text-decoration: none;
}
a:visited {
 text-decoration: none;
}
a:hover {
 text-decoration:none;
}
a:active {
 text-decoration: none;
}

.main{ width:1024px; height:557px; margin:0 auto;}
.logo{ background:url(../images/sy1.gif) center no-repeat; width:68px; height:72px; }
.qima{ background:url(../images/sy3.gif) center no-repeat; width:120px; height:84px;}
.sywz1{ background:url(../images/sywz1.gif) center no-repeat; width:237px; height:84px;}
.sywz2{ background:url(../images/sywz2.gif) center no-repeat; width:236px; height:84px;}




.jrtj{ background:url(../images/sy5.gif) center no-repeat; width:260px; height:21px; margin-top:23px;}
.jrtg{ background:url(../images/sy8.gif) center no-repeat; width:260px; height:21px; margin-top:23px;}
.jrhd{ background:url(../images/sy7.gif) center no-repeat; width:206px; height:21px; margin-top:23px;}
.jryh{ background:url(../images/sy6.gif) center no-repeat; width:260px; height:21px; margin-top:8px;}

.cont-1{ width:260px; height:304px; margin-top:5px;}
.cont-2{ width:260px; height:304px; margin-top:5px;}
.cont-3{ width:206px; height:304px; margin-top:4px; padding-left:10px;}
.cont-4{ width:260px; height:112px;}
.cont-5{ width:260px; height:159px; margin-top:4px;}
.cont-2 li{ width:250px; height:295px; margin:4px auto;}
.cont-4 li{ width:252px; height:105px; margin-left:4px; margin-top:3px; float:left; }
.cont-5 li{ width:124px; height:74px; margin-left:4px; margin-top:4px; float:left; }
.cont-6{ width:206px; height:150px;}
.cont-7{ width:206px; height:150px;}
.line{ width:186px; height:0px; border-top:1px ridge #CCC; border-bottom:1px ridge #CCC; margin-top:1px; margin-bottom:1px;}



.cont-2,.cont-3,.cont-4,.cont-5{background:#fff;color:#333;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=3);/*ie*/
-moz-box-shadow: 2px 2px 10px #909090;/*firefox*/
-webkit-box-shadow: 2px 2px 10px #909090;/*safari或chrome*/
box-shadow:2px 2px 10px #909090;/*opera或ie9*/}



.sy-dw-t{}
.sy-jrk{}
.sy-lbk{  position:fixed; bottom:0px; left:0px; width:100%;background-color:#e7e7e7; border-top:#bbbec2 1px solid; border-bottom:#dadada 1px solid; }
.sy-lbk-sj{  position:fixed; bottom:0px; left:0px; width:100%;background-color:#e7e7e7; border-top:#bbbec2 1px solid; border-bottom:#dadada 1px solid; }
.sy-lbk-sj{ background-color:#e7e7e7; border-top:#bbbec2 1px solid; border-bottom:#dadada 1px solid;}
.sy-lb{ height: 35px; }
.sy-lb-sj{ height: 25px; }
.sy-lb span{ font-size:14px;}
.sy-lb-sj span{ font-size:12px;}


.sy-dl{ width:120px;  height:14px; margin-top:17px; float:right; margin-right:13px;}
.sy-dl-img{ background:url(../images/sy2.gif) center no-repeat; width:14px;  height:14px; float:left;}
.sy-dl-wz{height:30px; line-height:30px; display:block; font-size:13px; margin-left:5px}
.sy-dl-wz a{float:right;}

/*TAB效果css*/
@media projection, screen {
    .ui-tabs-hide {
        display: none;
    }
}

@media print {
    .ui-tabs-nav {
        display: none;
    }
}

.ui-tabs-nav {
    font-family: "Trebuchet MS", Trebuchet, Verdana, Helvetica, Arial, sans-serif;
    font-size: 14px;
}
.ui-tabs-panel {
    font-family: "Trebuchet MS", Trebuchet, Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
	color: #c19898;
}
.ui-tabs-nav {
    list-style: none;
    margin: 0px 0px;
    padding: 0 0 0 0;
}
.ui-tabs-nav:after { 
    display: block;
    clear: both;
    content: " ";
}
.ui-tabs-nav li {
    float: left;
    margin: 0 0 0 0px;
    min-width: 30px; 
	padding:0px 0px;
}
.ui-tabs-nav a,.ui-tabs-nav a span{
    display: block;
    padding: 0 0px;
    border-left:#dbdbdb 1px solid; border-right:#dbdbdb 1px solid; 
    /*background:url(../images/tab.png) no-repeat;*//*TAB背景图*/
}
.ui-tabs-nav a {
    margin: 0px 0 0; 
    padding-left: 0;
    color: #727272;
    font-weight:bold;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;     
    outline: 0; 
}
.sy-lb-sj a {
    margin: 0px 0 0; 
    padding-left: 0;
    color: #727272;
    font-weight:bold;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;     
    outline: 0; 
}
.ui-tabs-nav .ui-tabs-selected a {/* tab选定样式*/
    position: relative;
    top: 0px;
    z-index: 2;
    margin-top: 0;
    color: #328c05;
	/*background:#3776d3;*/
	/*width: 122px; */
	background:#fafafa; border-bottom: #328c05 2px solid; display:block;
}
.ui-tabs-nav a span {
    /*width: 122px;*/ 
    /*min-width: 122px;*/
    height: 35px; 
    min-height: 35px;
    padding-top: 0px;
    /*padding:0px 0px;*/
}
.sy-lb-sj a span {
    /*width: 122px;*/ 
    /*min-width: 122px;*/
    height: 25px; 
    min-height: 25px;
    padding-top: 0px;
    /*padding:0px 0px;*/
}
*>.ui-tabs-nav a span { 
    width: auto;
    height: auto;
}
.ui-tabs-nav .ui-tabs-selected a span {
    padding-bottom: 1px;
}
.ui-tabs-nav .ui-tabs-selected a, .ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active {
    background-position: 100% -150px;
}
.ui-tabs-nav a, .ui-tabs-nav .ui-tabs-disabled a:hover, .ui-tabs-nav .ui-tabs-disabled a:focus, .ui-tabs-nav .ui-tabs-disabled a:active {
    background-position: 100% -100px;
}
.ui-tabs-nav .ui-tabs-selected a span, .ui-tabs-nav a:hover span, .ui-tabs-nav a:focus span, .ui-tabs-nav a:active span {
    background-position: 0 -50px;
}
.ui-tabs-nav a span, .ui-tabs-nav .ui-tabs-disabled a:hover span, .ui-tabs-nav .ui-tabs-disabled a:focus span, .ui-tabs-nav .ui-tabs-disabled a:active span {
    background-position: 0 0;
}
.ui-tabs-nav .ui-tabs-selected a:link, .ui-tabs-nav .ui-tabs-selected a:visited, .ui-tabs-nav .ui-tabs-disabled a:link, .ui-tabs-nav .ui-tabs-disabled a:visited { 
    cursor: text;
}
.ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active,
.ui-tabs-nav .ui-tabs-unselect a:hover, .ui-tabs-nav .ui-tabs-unselect a:focus, .ui-tabs-nav .ui-tabs-unselect a:active { 
    cursor: pointer;
}
.ui-tabs-disabled {
    opacity: .4;
    filter: alpha(opacity=40);
}
.ui-tabs-panel {  
    /*border-top: 1px solid #97a5b0;*/ /* tab下划线*/
    padding: 13px 0px; 
    /*background: #fff; */
}
.ui-tabs-loading em {
    padding: 0 0 0 20px;
    background:url(../images/loading.gif) no-repeat 0 50%;
}


* html .ui-tabs-nav { 
    display: inline-block;
}
*:first-child+html .ui-tabs-nav  { 
    display: inline-block;
}
/*TAB效果css*/
