@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font: inherit;
	font-size: 100%; */
	vertical-align: baseline
}

html {
	line-height: 1
}

ol, ul {
	list-style: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

caption, th, td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle
}

q, blockquote {
	quotes: none
}

q:before, q:after, blockquote:before, blockquote:after {
	content: "";
	content: none
}

a img {
	border: none
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section, summary {
	display: block
}

ol.hashTabber-nav, ol.hashTabber-data {
	list-style: none;
	margin: 0;
	padding: 0
}

ol.hashTabber-data>li {
	display: none
}

ol.hashTabber-data>li.active {
	display: block
}

body {
	min-height: 100%;
	padding: 1rem
}

a {
	color: #a1a1a1;
	outline: none;
	text-decoration: none
}



/* p a, ol a, ul a, blockquote a {
	border-bottom: 0.125rem solid #00b464
} */

p a:hover, ol a:hover, ul a:hover, blockquote a:hover {
	border-color: transparent
}

nav ul, nav ol {
	list-style: none;
	margin: 0;
	padding: 0
}

:focus {
	outline-color: #00b464;
	outline-style: auto;
	outline-width: 0.25rem
}

::-moz-focus-inner {
	border: 0
}

img, embed, object, video {
	max-width: 100%
}

::selection {
	color: #fff;
	background-color: #00b464
}

::-moz-selection {
	color: #fff;
	background-color: #00b464
}

@media print {
	.noprint {
		display: none
	}
	* {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important
	}
	a, a:visited {
		text-decoration: underline
	}
	a[href]:after {
		content: " (" attr(href) ")"
	}
	abbr[title]:after {
		content: " (" attr(title) ")"
	}
	a[href^="javascript:"]:after, a[href^="#"]:after {
		content: ""
	}
	pre, blockquote, tr, img {
		page-break-inside: avoid
	}
	thead {
		display: table-header-group
	}
	img {
		max-width: 100% !important
	}
	h1, h2, h3, h4, h5, h6 {
		page-break-after: avoid
	}
	p, h2, h3, h4, h5, h6 {
		orphans: 3;
		widows: 3
	}
}

html {
	font: 400 20px/1.5 "Source Sans Pro", sans-serif;
	color: #0c0a09
}

@media screen and (min-width: 1281px) {
	html {
		font-size: 24px
	}
}

@media screen and (max-width: 641px) {
	html {
		font-size: 16px
	}
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1
}

h1:not (:first-child ), h2:not (:first-child ), h3:not (:first-child ),
	h4:not (:first-child ), h5:not (:first-child ), h6:not (:first-child ){
	margin-top: 3rem
}

h1 a, h1 a:hover, h2 a, h2 a:hover, h3 a, h3 a:hover, h4 a, h4 a:hover,
	h5 a, h5 a:hover, h6 a, h6 a:hover {
	text-decoration: none
}

h1 {
	font-size: 3rem
}

h1.page-title {
	font-size: 4.5rem;
	font-weight: 700;
	padding: 3rem 0 4.5rem;
	letter-spacing: -0.125rem;
	color: #00b464;
	text-shadow: #095 0 0.125rem 0
}

@media screen and (max-width: 641px) {
	h1.page-title {
		font-size: 3rem;
		text-shadow: #095 0 0.0625rem 0
	}
}

a.page-logo {
	display: block;
	width: 80%;
	height: auto;
	margin: 0 auto
}

a.page-logo svg {
	max-height: 100%
}

a.page-logo svg path {
	fill: #00b464
}

a.page-logo:hover svg path {
	fill: #4cca92
}

h2 {
	font-size: 2rem
}

h3 {
	font-size: 1.5rem
}

p:not (:first-child ), pre:not (:first-child ), section.example:not (:first-child
	){
	margin-top: 1.5rem
}

ul, ol {
	margin-left: 1.5rem
}

ul {
	list-style-type: disc
}

ol {
	list-style-type: decimal
}

strong {
	font-weight: bold
}

em {
	font-style: italic
}

code {
	font-family: "Source Code Pro", monospace;
	font-size: 0.75rem;
	background-color: #f2f0ef;
	border: 0.0625rem solid #cbc5c1;
	padding: 0 0.125rem;
	-webkit-border-radius: 0.25rem;
	-moz-border-radius: 0.25rem;
	-ms-border-radius: 0.25rem;
	-o-border-radius: 0.25rem;
	border-radius: 0.25rem
}

pre code {
	display: block;
	width: 100%;
	overflow-x: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0.5rem
}

small, sub, sup {
	font-size: 75%
}

sub, sup {
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -0.5em
}

sub {
	bottom: -0.25em
}

hr {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 0.125rem;
	background-color: #000
}

header.page-header {
	max-width: 48rem;
	margin: 1rem auto
}

section.page-content {
	max-width: 48rem;
	margin: auto
}

section.example {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	width: 179px;
	vertical-align: top;
}

footer.page-footer {
	max-width: 48rem;
	margin: auto;
	padding: 4.5rem 0 1.5rem
}

a.fake-button {
	color: #fff;
	background-color: #00b464;
	line-height: 2rem;
	padding: 0 0.5rem;
	display: inline-block;
	text-decoration: none;
	border-bottom: 0.125rem solid #095;
	-webkit-border-radius: 0.25rem;
	-moz-border-radius: 0.25rem;
	-ms-border-radius: 0.25rem;
	-o-border-radius: 0.25rem;
	border-radius: 0.25rem
}

a.fake-button:hover {
	background-color: #4cca92;
	border-color: #095
}

a.fake-button.fake-button-big {
	font-size: 1.5rem;
	line-height: 3rem;
	padding: 0 0.75rem
}

nav.page-main-navigation {
	top: 0;
	right: 0;
	position: fixed;
	z-index: 2;
	font-size: 1rem;
	-webkit-transition: right 0.3s;
	-moz-transition: right 0.3s;
	-o-transition: right 0.3s;
	transition: right 0.3s
}

nav.page-main-navigation:target {
	right: 10rem
}

nav.page-main-navigation:target a.open {
	display: none
}

nav.page-main-navigation:target a.close {
	display: block
}

nav.page-main-navigation ol {
	height: auto;
	margin: 0;
	top: 0;
	left: 0;
	position: absolute
}

nav.page-main-navigation ol li {
	display: block
}

nav.page-main-navigation ol li a {
	width: 10rem
}

nav.page-main-navigation ol li:last-child a {
	border-bottom: 0.125rem solid #095;
	-webkit-border-radius: 0 0 0 0.25rem;
	-moz-border-radius: 0 0 0 0.25rem;
	-ms-border-radius: 0 0 0 0.25rem;
	-o-border-radius: 0 0 0 0.25rem;
	border-radius: 0 0 0 0.25rem
}

nav.page-main-navigation a {
	color: #fff;
	background-color: #00b464;
	line-height: 2rem;
	padding: 0 0.5rem;
	display: block;
	text-decoration: none;
	text-align: left
}

nav.page-main-navigation a:hover {
	background-color: #4cca92
}

nav.page-main-navigation a.close, nav.page-main-navigation a.open {
	top: 0;
	right: 0;
	position: absolute;
	border-bottom: 0.125rem solid #095;
	-webkit-border-radius: 0 0 0 0.25rem;
	-moz-border-radius: 0 0 0 0.25rem;
	-ms-border-radius: 0 0 0 0.25rem;
	-o-border-radius: 0 0 0 0.25rem;
	border-radius: 0 0 0 0.25rem
}

nav.page-main-navigation a.close {
	display: none
}

.hashTabber-sandstone-wrapper {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
	vertical-align: top;
}

ol.hashTabber-nav.hashTabber-sandstone, ol.hashTabber-data.hashTabber-sandstone
	{
	list-style: none;
	margin: 0;
	padding: 0
}

ol.hashTabber-nav.hashTabber-sandstone {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	width: 179px;
	vertical-align: top
}

@media screen and (max-width: 641px) {
	ol.hashTabber-nav.hashTabber-sandstone {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		display: inline-block;
		width: 100%;
		vertical-align: top;
		margin-bottom: 0.75rem
	}
}

ol.hashTabber-nav.hashTabber-sandstone>h2 {
	font-size: 0.875rem;
	text-transform: uppercase;
	padding: 0.75rem 0.5rem 0.25rem 0.5rem;
	color: #443c37
}

ol.hashTabber-nav.hashTabber-sandstone>li {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
	height: 37px;
	vertical-align: middle;
}

ol.hashTabber-nav.hashTabber-sandstone>li:not (:first-child ){
	margin-top: 0.2rem
}

ol.hashTabber-nav.hashTabber-sandstone>li.active a {
	border-color: #e6e7e8
}

ol.hashTabber-nav.hashTabber-sandstone>li.active a:hover {
	border-color: #e6e7e8
}

ol.hashTabber-nav.hashTabber-sandstone>li>a {
	display: block;
	text-decoration: none;
	border-bottom: 1px solid #e6e7e8;
	font-size: 0.875rem;
	height: 37px;
	line-height: 37px;
}

ol.hashTabber-nav.hashTabber-sandstone>li>a:hover {
	border-color: #e6e7e8
}

@media screen and (max-width: 641px) {
	ol.hashTabber-nav.hashTabber-sandstone>li>a {
		-webkit-border-radius: 0.25rem;
		-moz-border-radius: 0.25rem;
		-ms-border-radius: 0.25rem;
		-o-border-radius: 0.25rem;
		border-radius: 0.25rem
	}
}

ol.hashTabber-data.hashTabber-sandstone {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	width: 660px;
	vertical-align: top;
	-webkit-border-radius: 0.25rem;
	-moz-border-radius: 0.25rem;
	-ms-border-radius: 0.25rem;
	-o-border-radius: 0.25rem;
	border-radius: 0.25rem;
}

@media screen and (max-width: 641px) {
	ol.hashTabber-data.hashTabber-sandstone {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		display: inline-block;
		width: 100%;
		vertical-align: top
	}
}

ol.hashTabber-data.hashTabber-sandstone>li h3 {
	padding-bottom: 0.5rem;
	border-bottom: 1px solid #f2f0ef
}

.main {
	width: 1024px;
	height: 716px;
	margin: 0 auto;
	background: url(../images/c-bg.gif) no-repeat center;
}

.logo {
	background: url(../images/sy1.gif) center no-repeat;
	width: 68px;
	height: 72px;
}

.logomin {
	background: url(../images/logomin.gif) center no-repeat;
	width: 50px;
	height: 50px;
	margin-top: 2px;
	margin-bottom:10px;
	float: left;
	margin-left: 5px;
}

.qima {
	background: url(../images/sy3.gif) center no-repeat;
	width: 120px;
	height: 84px;
	float: left;
	margin-left: 46px;
	margin-top: 61px;
}

.sywz {
	background: url(../images/sy4.gif) center no-repeat;
	width: 473px;
	height: 84px;
	float: left;
	margin-top: 61px;
}

.uc-boby {
	width: 943px;
	height: 483px;
	float: left;
	margin-left: 41px;
	margin-top: 34px;
	position: relative;
	background: #fff;
	color: #333;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#909090,
		direction=120, strength=3); /*ie*/
	-moz-box-shadow: 2px 2px 10px #909090; /*firefox*/
	-webkit-box-shadow: 2px 2px 10px #909090; /*safari或chrome*/
	box-shadow: 2px 2px 10px #909090; /*opera或ie9*/
}
.uc-border {
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#909090,
		direction=120, strength=3); /*ie*/
	-moz-box-shadow: 2px 2px 10px #909090; /*firefox*/
	-webkit-box-shadow: 2px 2px 10px #909090; /*safari或chrome*/
	box-shadow: 2px 2px 10px #909090; /*opera或ie9*/
}

.uc-lb-bg {
	background: url(../images/c-lb.gif) center no-repeat;
	width: 225px;
	height: 482px;
	position: absolute;
	left: 19px;
	top: -13px;
}

.uc-nr {
	width: 660px;
	height: 477px;
	position: absolute;
	left: 244px;
	top: 19px;
}

.uc-tx {
	width: 72px;
	height: 72px;
	margin-left: 14px;
	margin-top: 19px;
	float: left;
}

.uc-name {
	width: 98px;
	height: 46px;
	margin-left: 10px;
	margin-top: 45px;
	float: left;
}

.uc-lb {
	width: 179px;
	height: 375px;
	margin-left: 15px;
	margin-top: 14px;
	float: left;
	border-top: 1px solid #e6e7e8;
}