<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cobble.takeaway.dao.FoodMapper" >
  <resultMap id="FoodResultMap" type="FoodPOJO" >
    <id column="FOOD_ID" property="foodId" jdbcType="INTEGER" />
    <result column="FOOD_MENU_ID" property="foodMenuId" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="UNIT_PRICE" property="unitPrice" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    FOOD_ID, FOOD_MENU_ID, NAME, UNIT_PRICE
  </sql>
  <sql id="Where_Clause">
  	<where>
  		<trim prefixOverrides="and">
  			<if test="name != null">
  				and NAME like contract("%", concat(#{name}, "%"))
  			</if>
  		</trim>
  	</where>
  </sql>
  <select id="finds" resultMap="FoodResultMap" parameterType="FoodSearchPOJO" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from food
    <include refid="Where_Clause"/>
    order by NAME
  </select>
  <select id="getCount" parameterType="FoodSearchPOJO" resultType="java.lang.Integer" >
    select count(1) from food
    <include refid="Where_Clause"/>
  </select>
  <select id="findById" resultMap="FoodResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from food
    where FOOD_ID = #{foodId,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from food
    where FOOD_ID = #{foodId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="FoodPOJO" useGeneratedKeys="true">
    insert into food (FOOD_MENU_ID, NAME, 
      UNIT_PRICE)
    values (#{foodMenuId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{unitPrice,jdbcType=DOUBLE})
  </insert>
  <update id="update" parameterType="com.cobble.takeaway.pojo.FoodEntity" >
    update food
    set FOOD_MENU_ID = #{foodMenuId,jdbcType=INTEGER},
      NAME = #{name,jdbcType=VARCHAR},
      UNIT_PRICE = #{unitPrice,jdbcType=DOUBLE}
    where FOOD_ID = #{foodId,jdbcType=INTEGER}
  </update>
</mapper>