<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cobble.takeaway.dao.OrderFormMapper" >
  <resultMap id="OrderFormResultMap" type="com.cobble.takeaway.pojo.OrderFormPOJO" >
    <id column="ORDER_FORM_ID" property="orderFormId" jdbcType="INTEGER" />
    <result column="FOOD_SELLER_ID" property="foodSellerId" jdbcType="INTEGER" />
    <result column="DEFINE_TIME" property="defineTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ORDER_FORM_ID, FOOD_SELLER_ID, DEFINE_TIME
  </sql>
  <sql id="Where_Clause">
  	<where>
  		<trim prefixOverrides="and">
  			and 1 = 1
  		</trim>
  	</where>
  </sql>
  <select id="finds" resultMap="OrderFormResultMap" parameterType="com.cobble.takeaway.pojo.OrderFormPOJO" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from order_form
    <include refid="Where_Clause"/>
  </select>
  <select id="getCount" parameterType="com.cobble.takeaway.pojo.OrderFormPOJO" resultType="java.lang.Integer" >
    select count(1) from order_form
    <include refid="Where_Clause"/>
  </select>
  <select id="findById" resultMap="OrderFormResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from order_form
    where ORDER_FORM_ID = #{orderFormId,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from order_form
    where ORDER_FORM_ID = #{orderFormId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cobble.takeaway.pojo.OrderFormPOJO" useGeneratedKeys="true">
    insert into order_form
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="foodSellerId != null" >
        FOOD_SELLER_ID,
      </if>
      <if test="defineTime != null" >
        DEFINE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="foodSellerId != null" >
        #{foodSellerId,jdbcType=INTEGER},
      </if>
      <if test="defineTime != null" >
        #{defineTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.cobble.takeaway.pojo.OrderFormPOJO" >
    update order_form
    <set >
      <if test="foodSellerId != null" >
        FOOD_SELLER_ID = #{foodSellerId,jdbcType=INTEGER},
      </if>
      <if test="defineTime != null" >
        DEFINE_TIME = #{defineTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ORDER_FORM_ID = #{orderFormId,jdbcType=INTEGER}
  </update>
</mapper>